@{
    ViewData["Title"] = "Logged Out";
}

<!-- SECTION START -->
<section class="table page-404">
    <div class="table-row">
        <div class="table-cell valign-middle text-center">
            <div>
                <p>You have successfully signed out.</p>
            </div>
            <div class="title-error mt30">
                <h2 class="text-danger">@ViewData["Title"]</h2>
                <br />
            </div>
        </div>
    </div>
</section>
<!-- SECTION END -->  