@{
    ViewData["Title"] = "Jobs";
}

<!-- PAGE NAME START -->
<section class="page-name parallax" data-paroller-factor="0.1" data-paroller-type="background" data-paroller-direction="vertical">
    <div class="container">
        <div class="row">
            <h1 class="page-title">
                Jobs
            </h1>
            <div class="breadcrumbs">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> /
                <a href="#">Studio</a> /
                <span class="color-1">Jobs</span>
            </div>
        </div>
    </div>
</section>
<!-- PAGE NAME END -->
<!-- TEAM START -->
<section class="team-bl ptb150">
    <div class="container">
        <div class="row">
            <div class="container-wrapper">
                <div class="item-content third col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30 equal-height wow fadeInUp" data-wow-duration="1s">
                    <div class="border-img">
                        <img src="~/images/team/Person-Silhouette.png" alt="" class="img-responsive">
                    </div>
                    <div class="text-container background-4 text-center">
                        <a href="/jobs/combat-engineer" class="name font-agency fsize-32 fweight-700 lheight-32 color-white">
                            Combat Engineer
                        </a>
                        <div class="position mt10">
                            Programming
                        </div>
                        <div class="social mt20">
                            <a href="/jobs/combat-engineer">
                                <i class="fa fa-gamepad" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item-content third col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30 equal-height wow fadeInUp" data-wow-duration="1s">
                    <div class="border-img">
                        <img src="~/images/team/Person-Silhouette.png" alt="" class="img-responsive">
                    </div>
                    <div class="text-container background-4 text-center">
                        <a href="/jobs/level-designer" class="name font-agency fsize-32 fweight-700 lheight-32 color-white">
                            Level Designer
                        </a>
                        <div class="position mt10">
                            Art
                        </div>
                        <div class="social mt20">
                            <a href="/jobs/level-designer">
                                <i class="fa fa-paint-brush" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- TEAM END -->
