@{
    ViewData["Title"] = "Level Designer";
}

<!-- PAGE NAME START -->
<section class="page-name parallax" data-paroller-factor="0.1" data-paroller-type="background" data-paroller-direction="vertical">
    <div class="container">
        <div class="row">
            <h1 class="page-title">
                Level Designer
            </h1>
            <div class="breadcrumbs">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> /
                <a href="#">Studio</a> /
                <a href="/jobs">Jobs</a> /
                <span class="color-1">Level Designer</span>
            </div>
        </div>
    </div>
</section>
<!-- PAGE NAME END -->
<!-- SECTION START -->
<section class="about-info ptb150">
    <div class="container">
        <div class="row">
            <div class="item-left col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="equal-height">
                    <div>
                        <div class="inline-block">
                            <span class="s_title block">Art</span>
                            <span class="s_subtitle block">Level Designer</span>
                        </div>
                    </div>
                    <div class="lheight-26">
                        <p>Soverance Studios is looking for a skilled level designer to help improve the environments in <i>Ethereal Legends</i>.</p>
                        <p>
                            Your task will be to design, develop, and implement high performance single player environments within Unreal Engine 4 for use in third-person action RPGs.
                            You'll need to provide critical analysis of development practices with the goal of improving the game's visual quality while maintaining a high frame rate.
                            You will create beautiful, unique, gameplay-ready environments complete with collision and navigation.
                        </p>
                    </div>
                    <div class="fsize-14 fweight-700 uppercase">
                        Requirements
                    </div>
                    <ul class="list-1 pt10">
                        <li class="color5">
                            Fluent in Unreal Editor
                        </li>
                        <li class="color5">
                            Experience with realtime lighting within UE4
                        </li>
                        <li class="color5">
                            Experience with third-person and environment puzzle design
                        </li>
                        <li class="color5">
                            Experience with Matinee / Sequencer
                        </li>
                        <li class="color5">
                            Extensive knowledge of design programs such as Maya, Zbrush, and Photoshop
                        </li>
                        <li class="color5">
                            Self-motivated and self-directing
                        </li>
                        <li class="color5">
                            Knowledgeable about many aspects of game development
                        </li>
                        <li class="color5">
                            Excellent verbal and written communication skills
                        </li>
                        <li class="color5">
                            Experience with developing RPGs / ARPGs
                        </li>
                    </ul>
                    <br />
                    <div class="fsize-14 fweight-700 uppercase">
                        Pluses
                    </div>
                    <ul class="list-1 pt10">
                        <li class="color5">
                            World building experience.
                        </li>
                        <li class="color5">
                            Shipped at least one PC or console title as a level designer
                        </li>
                        <li class="color5">
                            Local to Atlanta, GA
                        </li>
                    </ul>
                    <br />
                    <div class="lheight-26">
                        <p>The position described here is a remote contract position with a three (3) month duration.  The intended workload is estimated to be 10 to 15 hours per week.  Before applying, please read the "Working With Us" section of our <a href="/faq">FAQ</a> to understand our tools and hardware policies.</p>
                        <p><i>Ethereal Legends</i> is an action RPG built with Unreal Engine 4, <a href="https://store.steampowered.com/app/428980/Ethereal_Legends/">currently available for purchase on Steam</a>.</p>
                        <p>Soverance Studios is an equal opportunity employer located in Atlanta, Georgia, USA.  All qualified applicants will receive consideration for employment without regard to race, color, religion, sex, or any other basis protected by applicable law.</p>
                    </div>
                </div>
            </div>
            <partial name="_JobListingSidebar" />
        </div>
    </div>
</section>
<!-- SECTION END -->
<!-- REGISTER SECTION START -->
<section class="register-section background-gradient ptb100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow fadeInLeft">
                <div class="reg-wrapper">
                    <div class="title-bl text-left">
                        <div class="title color-white">
                            Register for our Newsletter now
                        </div>
                        <div class="subtitle">
                            Newsletter
                        </div>
                    </div>
                    <div class="color-white">
                        Get exclusive updates about our latest projects!
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow fadeInRight" data-wow-duration="2s">
                <form action="#" class="reg-form">
                    <div class="reg_input">
                        <input type="text" placeholder="Enter your Email address here">
                    </div>
                    <button class="reg_submit">
                        <i class="fa fa-envelope color-1 fsize-14" aria-hidden="true"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- REGISTER SECTION END -->
