@model soverance.com.Models.Post

@{
    ViewData["Title"] = "Edit Post";
}

<!-- PAGE NAME START -->
<section class="page-name parallax" data-paroller-factor="0.1" data-paroller-type="background" data-paroller-direction="vertical">
    <div class="container">
        <div class="row">
            <h1 class="page-title">
                Edit Post
            </h1>
            <div class="breadcrumbs">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> /
                <a asp-area="" asp-controller="Blog" asp-action="Index">Blog</a> /
                <span class="color-1">Edit Post</span>
            </div>
        </div>
    </div>
</section>
<!-- PAGE NAME END -->
<!-- SECTION START -->
<section class="about-info ptb150">
    <div class="container">
        <div class="row">
            <div class="item-left col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <form asp-action="EditPost">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="PostId" />
                    <div class="form-group">
                        <select asp-for="CategoryId" asp-items="ViewBag.CategoryDropDownList" class="dropdown border-dropdown plr50 ptb19 color-white" style="width:55.5%">
                            <option selected="selected" value="CategoryId">Select Category</option>
                        </select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                        <p></p>
                        <label asp-for="Date" class="control-label"></label>
                        <input asp-for="Date" class="form-control width-50" value="@DateTime.Now" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                        <label asp-for="Content" class="control-label"></label>
                        <textarea asp-for="Content" class="form-control" rows="25"></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                        <label asp-for="Author" class="control-label"></label>
                        <input asp-for="Author" class="form-control" />
                        <span asp-validation-for="Author" class="text-danger width-50"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn border-btn plr50 ptb19 color-white" />
                    </div>
                </form>
                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SECTION END -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
