@{
    ViewData["Title"] = "About";
}

<!-- PAGE NAME START -->
<section class="page-name parallax" data-paroller-factor="0.1" data-paroller-type="background" data-paroller-direction="vertical">
    <div class="container">
        <div class="row">
            <h1 class="page-title">
                About
            </h1>
            <div class="breadcrumbs">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> /
                <a href="#">Studio</a> /
                <span class="color-1">About</span>
            </div>
        </div>
    </div>
</section>
<!-- PAGE NAME END -->
<!-- SECTION START -->
<section class="about-info ptb150">
    <div class="container">
        <div class="row">
            <div class="item-left col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="equal-height">
                    <div>
                        <div class="inline-block">
                            <span class="text-gradient fsize-80 fweight-700 font-agency uppercase">7</span>
                        </div>
                        <div class="inline-block">
                            <span class="s_title block">Years in</span>
                            <span class="s_subtitle block">Games Experience</span>
                        </div>
                    </div>
                    <div class="lheight-26">
                        <p>Founded in 2012 by Scott McCutchen, Soverance Studios is an independent game development company dedicated to bringing great ideas to life.</p>
                        <p>Here at Soverance, we strive to create original content from unique ideas. We try to innovate with every project, and are always close to the bleeding edge of the technology curve.</p>
                        <p>We specialize in application development with Unreal Engine for major platforms such as Steam, PlayStation, Xbox, and Oculus VR.</p>
                    </div>
                    <ul class="list-1 pt10">
                        <li class="color5">
                            Soverance is a Microsoft Partner.
                        </li>
                        <li class="color5">
                            Much of our work is open source <a href="https://github.com/soverance">on GitHub</a>!
                        </li>
                    </ul>
                </div>
            </div>
            <div class="item-right col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <video id="vid1" class="vjs-big-play-centered video-js vjs-default-skin vjs-16-9" controls preload="auto" width="585" height="330" poster="~/images/about/theycome.jpg"
                       data-setup='{ "techOrder": ["youtube"], "sources": { "type": "video/youtube", "src": "https://www.youtube.com/watch?v=yeXrftHfo-s"}}'></video>
            </div>
        </div>
    </div>
</section>
<!-- SECTION END -->
<!-- SECTION START -->
<section class="about-features game-section pt150 pb85 parallax" data-paroller-factor="0.1" data-paroller-type="background" data-paroller-direction="vertical" style="background-image: url('/images/about/about-bg.jpg')">
    <div class="container">
        <div class="tm-tabs tabs mt70">
            <div class="tabs-nav">
                <ul class="list-inline nav nav-tabs tabs-slider">
                    <li class="col-lg-3 col-md-3">
                        <a href="/ethereal" data-toggle="tab">
                            <div class="img-wrap">
                                <img src="~/images/game-img-1.jpg" alt="">
                            </div>
                            <div class="nav-header-bl mt25">
                                <div class="nav-title color-white">
                                    Ethereal Legends
                                </div>
                                <div class="date">
                                    Released Feb 21, 2017
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="col-lg-3 col-md-3">
                        <a href="/endlessreach" data-toggle="tab">
                            <div class="img-wrap">
                                <img src="~/images/game-img-2.jpg" alt="">
                            </div>
                            <div class="nav-header-bl mt25">
                                <div class="nav-title color-white">
                                    Endless Reach
                                </div>
                                <div class="date">
                                    Released Jul 12, 2014
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="col-lg-3 col-md-3">
                        <a href="/echosphere" data-toggle="tab">
                            <div class="img-wrap">
                                <img src="~/images/game-img-3.jpg" alt="">
                            </div>
                            <div class="nav-header-bl mt25">
                                <div class="nav-title color-white">
                                    Echosphere
                                </div>
                                <div class="date">
                                    Unreleased
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="col-lg-3 col-md-3">
                        <a href="/ctf-elemental" data-toggle="tab">
                            <div class="img-wrap">
                                <img src="~/images/game-img-4.jpg" alt="">
                            </div>
                            <div class="nav-header-bl mt25">
                                <div class="nav-title color-white">
                                    CTF-Elemental
                                </div>
                                <div class="date">
                                    Released Mar 14, 2015
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="col-lg-3 col-md-3">
                        <a href="/ffxi-fighter" data-toggle="tab">
                            <div class="img-wrap">
                                <img src="~/images/game-img-5.jpg" alt="">
                            </div>
                            <div class="nav-header-bl mt25">
                                <div class="nav-title color-white">
                                    FFXI: Fighter
                                </div>
                                <div class="date">
                                    Released Dec 20, 2012
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>            
    </div>
</section>
<!-- SECTION END -->
<!-- TESTIMONIAL SECTION START -->
<section class="pt90 pb170">
    <div class="container">
        <div class="row">
            <div class="title-bl text-center wow fadeIn" data-wow-duration="2s">
                <div class="title color-white">
                    Testimonials
                </div>
                <div class="subtitle">
                    Reviews
                </div>
            </div>
            <div class="testimonial-slider testimonial-tpl mt100">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="slide-item">
                        <div class="author-img">
                            <img src="~/images/testimonials/testimonial-author-1.jpg" alt="">
                        </div>
                        <div class="text-center">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                            <div class="fsize-24 fweight-700 color-white font-agency uppercase">
                                BladeOfWicca
                            </div>
                            <div class="color-1 fsize-14 fweight-700 uppercase">
                                Steam Review
                            </div>
                            <div class="fsize-20 italic mt40">
                                «...the dev is more than willing to let you talk his ear off if you have suggestions,
                                and I can PERSONALLY vouch for the fact that if he likes your suggestion, he WILL add it into the game. (Meow!) »
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="slide-item">
                        <div class="author-img">
                            <img src="~/images/testimonials/testimonial-author-2.jpg" alt="">
                        </div>
                        <div class="text-center">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                            <div class="fsize-24 fweight-700 color-white font-agency uppercase">
                                ((G.(O).]D).]L.]I[.]K.]E))
                            </div>
                            <div class="color-1 fsize-14 fweight-700 uppercase">
                                Steam Review
                            </div>
                            <div class="fsize-20 italic mt40">
                                «Ethereal Legends has great potential and I look forward to see how the game develops in the next few updates.
                                I believe it will be another great hack and slash game with some very unique elements.»
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="slide-item">
                        <div class="author-img">
                            <img src="~/images/testimonials/testimonial-author-3.jpg" alt="">
                        </div>
                        <div class="text-center">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                            <div class="fsize-24 fweight-700 color-white font-agency uppercase">
                                TroubleMent
                            </div>
                            <div class="color-1 fsize-14 fweight-700 uppercase">
                                Steam Review
                            </div>
                            <div class="fsize-20 italic mt40">
                                «Considering this game was made (mostly) by one person, I say job well done.
                                The Dev continues to improve the game, and I can't wait to see what else will be added and any future products he's involved with.»
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="slide-item">
                        <div class="author-img">
                            <img src="~/images/testimonials/testimonial-author-4.jpg" alt="">
                        </div>
                        <div class="text-center">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                            <div class="fsize-24 fweight-700 color-white font-agency uppercase">
                                .............
                            </div>
                            <div class="color-1 fsize-14 fweight-700 uppercase">
                                Steam Review
                            </div>
                            <div class="fsize-20 italic mt40">
                                «Awesome game! I have been enjoying it this 2 weeks i have it and i&#39;m amazed! Make more games ;)»
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- TESTIMONIAL SECTION END -->
<!-- REGISTER SECTION START -->
<section class="register-section background-gradient ptb100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow fadeInLeft">
                <div class="reg-wrapper">
                    <div class="title-bl text-left">
                        <div class="title color-white">
                            Register for our Newsletter now
                        </div>
                        <div class="subtitle">
                            Newsletter
                        </div>
                    </div>
                    <div class="color-white">
                        Get exclusive updates about our latest projects!
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow fadeInRight" data-wow-duration="2s">
                <form action="#" class="reg-form">
                    <div class="reg_input">
                        <input type="text" placeholder="Enter your Email address here">
                    </div>
                    <button class="reg_submit">
                        <i class="fa fa-envelope color-1 fsize-14" aria-hidden="true"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- REGISTER SECTION END -->
