@{
    ViewData["Title"] = "FAQ";
}

<!-- PAGE NAME START -->
<section class="page-name parallax" data-paroller-factor="0.1" data-paroller-type="background" data-paroller-direction="vertical">
    <div class="container">
        <div class="row">
            <h1 class="page-title">
                FAQ
            </h1>
            <div class="breadcrumbs">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> /
                <a href="#">Studio</a> /
                <span class="color-1">FAQ</span>
            </div>
        </div>
    </div>
</section>
<!-- PAGE NAME END -->
<!-- SECTION START -->
<section class="ptb150">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="column-cell">
                    <div class="fsize-32 fweight-700 lheight-32 font-agency uppercase color-white">
                        General Questions
                    </div>
                    <ul class="panel-group mt40" id="collapse-group1">
                        <li class="column-item panel panel-default">
                            <a href="#spoiler-1" data-toggle="collapse" data-parent="#collapse-group1" class="block td-none ptb20 plr30" aria-expanded="true">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span class="column-title uppercase fsize-14 fweight-700">Pork kevin burgdoggen swine?</span>
                            </a>
                            <div class="collapse in spoiler-hidden plr20" id="spoiler-1">
                                <div class="open-bl">
                                    <p>
                                        Drumstick meatloaf capicola short ribs, pork chop cupim kielbasa jerky porchetta pancetta chicken pastrami turkey tenderloin
                                        sausage. Pig buffalo alcatra meatball.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="column-item panel panel-default">
                            <a href="#spoiler-2" data-toggle="collapse" data-parent="#collapse-group1" class="block td-none ptb20 plr30 collapsed">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span class="column-title uppercase fsize-14 fweight-700">Pastrami pancetta boudin meatloaf tongue?</span>
                            </a>
                            <div class="collapse spoiler-hidden plr20" id="spoiler-2">
                                <div class="open-bl">
                                    <p>
                                        Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus,
                                        tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing
                                        sem neque sed ipsum. Nam quam nunc, blandit vel.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="column-item panel panel-default">
                            <a href="#spoiler-3" data-toggle="collapse" data-parent="#collapse-group1" class="block td-none ptb20 plr30 collapsed">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span class="column-title uppercase fsize-14 fweight-700">Porchetta pork belly hamburger?</span>
                            </a>
                            <div class="collapse spoiler-hidden plr20" id="spoiler-3">
                                <div class="open-bl">
                                    <p>
                                        Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus,
                                        tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing
                                        sem neque sed ipsum. Nam quam nunc, blandit vel.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="column-item panel panel-default">
                            <a href="#spoiler-4" data-toggle="collapse" data-parent="#collapse-group1" class="block td-none ptb20 plr30 collapsed">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span class="column-title uppercase fsize-14 fweight-700">Short ribs pig tongue sirloin?</span>
                            </a>
                            <div class="collapse spoiler-hidden plr20" id="spoiler-4">
                                <div class="open-bl">
                                    <p>
                                        Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus,
                                        tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing
                                        sem neque sed ipsum. Nam quam nunc, blandit vel.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="column-item panel panel-default">
                            <a href="#spoiler-5" data-toggle="collapse" data-parent="#collapse-group1" class="block td-none ptb20 plr30 collapsed">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span class="column-title uppercase fsize-14 fweight-700">Pig tongue sirloin pork belly ball?</span>
                            </a>
                            <div class="collapse spoiler-hidden plr20" id="spoiler-5">
                                <div class="open-bl">
                                    <p>
                                        Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus,
                                        tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing
                                        sem neque sed ipsum. Nam quam nunc, blandit vel.
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="column-cell">
                    <div class="fsize-32 fweight-700 lheight-32 font-agency uppercase color-white">
                        Financial Topics
                    </div>
                    <ul class="panel-group mt40" id="collapse-group2">
                        <li class="column-item panel panel-default">
                            <a href="#spoiler-6" data-toggle="collapse" data-parent="#collapse-group2" class="block td-none ptb20 plr30 collapsed" aria-expanded="true">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span class="column-title uppercase fsize-14 fweight-700">Pork kevin burgdoggen swine?</span>
                            </a>
                            <div class="collapse spoiler-hidden plr20" id="spoiler-6">
                                <div class="open-bl">
                                    <p>
                                        Drumstick meatloaf capicola short ribs, pork chop cupim kielbasa jerky porchetta pancetta chicken pastrami turkey tenderloin
                                        sausage. Pig buffalo alcatra meatball.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="column-item panel panel-default">
                            <a href="#spoiler-7" data-toggle="collapse" data-parent="#collapse-group2" class="block td-none ptb20 plr30 collapsed">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span class="column-title uppercase fsize-14 fweight-700">Pastrami pancetta boudin meatloaf tongue?</span>
                            </a>
                            <div class="collapse spoiler-hidden plr20" id="spoiler-7">
                                <div class="open-bl">
                                    <p>
                                        Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus,
                                        tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing
                                        sem neque sed ipsum. Nam quam nunc, blandit vel.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="column-item panel panel-default">
                            <a href="#spoiler-8" data-toggle="collapse" data-parent="#collapse-group2" class="block td-none ptb20 plr30 collapsed">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span class="column-title uppercase fsize-14 fweight-700">Porchetta pork belly hamburger?</span>
                            </a>
                            <div class="collapse spoiler-hidden plr20" id="spoiler-8">
                                <div class="open-bl">
                                    <p>
                                        Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus,
                                        tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing
                                        sem neque sed ipsum. Nam quam nunc, blandit vel.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="column-item panel panel-default">
                            <a href="#spoiler-9" data-toggle="collapse" data-parent="#collapse-group2" class="block td-none ptb20 plr30 collapsed">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span class="column-title uppercase fsize-14 fweight-700">Short ribs pig tongue sirloin?</span>
                            </a>
                            <div class="collapse spoiler-hidden plr20" id="spoiler-9">
                                <div class="open-bl">
                                    <p>
                                        Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus,
                                        tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing
                                        sem neque sed ipsum. Nam quam nunc, blandit vel.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="column-item panel panel-default">
                            <a href="#spoiler-10" data-toggle="collapse" data-parent="#collapse-group2" class="block td-none ptb20 plr30 collapsed">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span class="column-title uppercase fsize-14 fweight-700">Pig tongue sirloin pork belly ball?</span>
                            </a>
                            <div class="collapse spoiler-hidden plr20" id="spoiler-10">
                                <div class="open-bl">
                                    <p>
                                        Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus,
                                        tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing
                                        sem neque sed ipsum. Nam quam nunc, blandit vel.
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="column-cell">
                    <div class="fsize-32 fweight-700 lheight-32 font-agency uppercase color-white">
                        Other Questions
                    </div>
                    <ul class="panel-group mt40" id="collapse-group3">
                        <li class="column-item panel panel-default">
                            <a href="#spoiler-11" data-toggle="collapse" data-parent="#collapse-group3" class="block td-none ptb20 plr30 collapsed" aria-expanded="true">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span class="column-title uppercase fsize-14 fweight-700">Pork kevin burgdoggen swine?</span>
                            </a>
                            <div class="collapse spoiler-hidden plr20" id="spoiler-11">
                                <div class="open-bl">
                                    <p>
                                        Drumstick meatloaf capicola short ribs, pork chop cupim kielbasa jerky porchetta pancetta chicken pastrami turkey tenderloin
                                        sausage. Pig buffalo alcatra meatball.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="column-item panel panel-default">
                            <a href="#spoiler-12" data-toggle="collapse" data-parent="#collapse-group3" class="block td-none ptb20 plr30 collapsed">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span class="column-title uppercase fsize-14 fweight-700">Pastrami pancetta boudin meatloaf tongue?</span>
                            </a>
                            <div class="collapse spoiler-hidden plr20" id="spoiler-12">
                                <div class="open-bl">
                                    <p>
                                        Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus,
                                        tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing
                                        sem neque sed ipsum. Nam quam nunc, blandit vel.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="column-item panel panel-default">
                            <a href="#spoiler-13" data-toggle="collapse" data-parent="#collapse-group3" class="block td-none ptb20 plr30 collapsed">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span class="column-title uppercase fsize-14 fweight-700">Porchetta pork belly hamburger?</span>
                            </a>
                            <div class="collapse spoiler-hidden plr20" id="spoiler-13">
                                <div class="open-bl">
                                    <p>
                                        Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus,
                                        tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing
                                        sem neque sed ipsum. Nam quam nunc, blandit vel.
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="fsize-32 fweight-700 lheight-32 font-agency uppercase color-white">
                    Ask Any Question
                </div>
                <form action="#" class="ask-form mt40">
                    <div class="input-wrap">
                        <input type="text" placeholder="Your name">
                    </div>
                    <div class="input-wrap">
                        <input type="email" placeholder="Email address">
                    </div>
                    <div class="input-wrap">
                        <input type="text" placeholder="Subject">
                    </div>
                    <div class="input-wrap">
                        <textarea placeholder="Your question"></textarea>
                    </div>
                    <input type="submit" class="btn gradient color-white color-white plr50 ptb19" value="Ask Question">
                </form>
            </div>
        </div>
    </div>
</section>
<!-- SECTION END -->