@model soverance.com.Models.MailConfig

@{
    ViewData["Title"] = "FAQ";
}

<!-- PAGE NAME START -->
<section class="page-name parallax" data-paroller-factor="0.1" data-paroller-type="background" data-paroller-direction="vertical">
    <div class="container">
        <div class="row">
            <h1 class="page-title">
                FAQ
            </h1>
            <div class="breadcrumbs">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> /
                <a href="#">Studio</a> /
                <span class="color-1">FAQ</span>
            </div>
        </div>
    </div>
</section>
<!-- PAGE NAME END -->
<!-- SECTION START -->
<section class="ptb150">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="column-cell">
                    <div class="fsize-32 fweight-700 lheight-32 font-agency uppercase color-white">
                        General Questions
                    </div>
                    <ul class="panel-group mt40" id="collapse-group1">
                        <li class="column-item panel panel-default">
                            <a href="#spoiler-1" data-toggle="collapse" data-parent="#collapse-group1" class="block td-none ptb20 plr30" aria-expanded="true">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span class="column-title uppercase fsize-14 fweight-700">What is Soverance Studios?</span>
                            </a>
                            <div class="collapse in spoiler-hidden plr20" id="spoiler-1">
                                <div class="open-bl">
                                    <p>
                                        Soverance Studios is an independent game development company, dedicated to bringing great ideas to life.
                                        Founded in 2012 by Scott McCutchen, we strive to create original content from unique ideas.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="column-item panel panel-default">
                            <a href="#spoiler-2" data-toggle="collapse" data-parent="#collapse-group1" class="block td-none ptb20 plr30 collapsed">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span class="column-title uppercase fsize-14 fweight-700">What sort of games do you build?</span>
                            </a>
                            <div class="collapse spoiler-hidden plr20" id="spoiler-2">
                                <div class="open-bl">
                                    <p>
                                        We use Unreal Engine to bring our ideas to life in the form of new, original intellectual properties.
                                        Our designs tend to hover around the Action-RPG genre, with a focus on gameplay and systems.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="column-item panel panel-default">
                            <a href="#spoiler-3" data-toggle="collapse" data-parent="#collapse-group1" class="block td-none ptb20 plr30 collapsed">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span class="column-title uppercase fsize-14 fweight-700">What platforms do you work on?</span>
                            </a>
                            <div class="collapse spoiler-hidden plr20" id="spoiler-3">
                                <div class="open-bl">
                                    <p>
                                        We generally work on projects for popular gaming platforms such as Steam, Xbox, PlayStation, Oculus VR.
                                        We&#39;ve also worked on mobile apps for Android and iOS.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="column-item panel panel-default">
                            <a href="#spoiler-4" data-toggle="collapse" data-parent="#collapse-group1" class="block td-none ptb20 plr30 collapsed">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span class="column-title uppercase fsize-14 fweight-700">Where can I buy your games?</span>
                            </a>
                            <div class="collapse spoiler-hidden plr20" id="spoiler-4">
                                <div class="open-bl">
                                    <p>
                                        Our games are sold digitally on popular marketplaces, such as Steam, Xbox Live, or the PlayStation Network.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="column-item panel panel-default">
                            <a href="#spoiler-5" data-toggle="collapse" data-parent="#collapse-group1" class="block td-none ptb20 plr30 collapsed">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span class="column-title uppercase fsize-14 fweight-700">What are you currently working on?</span>
                            </a>
                            <div class="collapse spoiler-hidden plr20" id="spoiler-5">
                                <div class="open-bl">
                                    <p>
                                        Check out our blog to find out what we&#39;re up to, and be sure to sign up
                                        for our newsletter to keep up to date on everything happening at Soverance.
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="column-cell">
                    <div class="fsize-32 fweight-700 lheight-32 font-agency uppercase color-white">
                        Working With Us
                    </div>
                    <ul class="panel-group mt40" id="collapse-group2">
                        <li class="column-item panel panel-default">
                            <a href="#spoiler-6" data-toggle="collapse" data-parent="#collapse-group2" class="block td-none ptb20 plr30 collapsed" aria-expanded="true">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span class="column-title uppercase fsize-14 fweight-700">Are you hiring?</span>
                            </a>
                            <div class="collapse spoiler-hidden plr20" id="spoiler-6">
                                <div class="open-bl">
                                    <p>
                                        We&#39;re always looking for fresh talent to help us build great things!
                                        If you&#39;re interested in working with us, we&#39;d love to hear from you.
                                    </p>
                                    <p>Be sure to check out our Jobs page for currently available opportunities.</p>
                                </div>
                            </div>
                        </li>
                        <li class="column-item panel panel-default">
                            <a href="#spoiler-7" data-toggle="collapse" data-parent="#collapse-group2" class="block td-none ptb20 plr30 collapsed">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span class="column-title uppercase fsize-14 fweight-700">What sort of positions are available?</span>
                            </a>
                            <div class="collapse spoiler-hidden plr20" id="spoiler-7">
                                <div class="open-bl">
                                    <p>
                                        Soverance Studios is a small, independet company with limited funding, and therefore generally does not hire full time W2 employees.
                                        Instead, we tend to hire short term 1099 independent contractors to fill in skill gaps when necessary.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="column-item panel panel-default">
                            <a href="#spoiler-8" data-toggle="collapse" data-parent="#collapse-group2" class="block td-none ptb20 plr30 collapsed">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span class="column-title uppercase fsize-14 fweight-700">Is this remote work?</span>
                            </a>
                            <div class="collapse spoiler-hidden plr20" id="spoiler-8">
                                <div class="open-bl">
                                    <p>
                                        Yes! Soverance primarily offers remote working opportunities. Nearly all of our business is conducted via online services
                                        which can be accessed securely from any home network.  In certain cases, a Soverance-provided VPN will be necessary to gain access to the resource.
                                    </p>
                                    <p>
                                        We do have access to a co-location facility in Atlanta, Georgia which we can use for physical, in-person meetings.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="column-item panel panel-default">
                            <a href="#spoiler-9" data-toggle="collapse" data-parent="#collapse-group2" class="block td-none ptb20 plr30 collapsed">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span class="column-title uppercase fsize-14 fweight-700">What tools do you use?</span>
                            </a>
                            <div class="collapse spoiler-hidden plr20" id="spoiler-9">
                                <div class="open-bl">
                                    <p>
                                        As a Microsoft Partner, Soverance Studios works exclusively within Windows environments, and we provide all contractors with technical support for their Windows machines.
                                        Additionally, we provide certain contractors with an Office 365 subscription and @@soverance.com email address, as well as access to company internal resources in Azure.
                                    </p>
                                    <p>
                                        Our games are all built with the full source version of Unreal Engine. Our source repositories are held in GitHub (<i>for open-source projects</i>)
                                        or Perforce (<i>for private repos stored in Azure</i>), and our teams communicate over email and Discord.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="column-item panel panel-default">
                            <a href="#spoiler-10" data-toggle="collapse" data-parent="#collapse-group2" class="block td-none ptb20 plr30 collapsed">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span class="column-title uppercase fsize-14 fweight-700">Is software or hardware provided?</span>
                            </a>
                            <div class="collapse spoiler-hidden plr20" id="spoiler-10">
                                <div class="open-bl">
                                    <p>
                                        In general, Soverance Studios does not provide software or hardware to contractors. We expect contractors to supply their own hardware devices,
                                        as well as any applications they require.
                                    </p>
                                    <p>
                                        We also expect contractors to maintain their own development environments and application installs,
                                        though we do provide technical support for all contractors on Windows environments.
                                    </p>
                                    <p>
                                        For certain key roles in the Soverance organization, the person serving in this role will be provided with an @@soverance.com email address
                                        and an Office 365 E3 subscription (<i>which includes full desktop versions of Word, Excel, etc</i>).
                                        This Office 365 subscription also includes access to various online applications hosted in Microsoft Azure.
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="column-cell">
                    <div class="fsize-32 fweight-700 lheight-32 font-agency uppercase color-white">
                        Other Questions
                    </div>
                    <ul class="panel-group mt40" id="collapse-group3">
                        <li class="column-item panel panel-default">
                            <a href="#spoiler-11" data-toggle="collapse" data-parent="#collapse-group3" class="block td-none ptb20 plr30 collapsed" aria-expanded="true">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span class="column-title uppercase fsize-14 fweight-700">Do you take contract work?</span>
                            </a>
                            <div class="collapse spoiler-hidden plr20" id="spoiler-11">
                                <div class="open-bl">
                                    <p>
                                        Yes. Soverance Studios is available for custom game and application development, and we offer these services to select clients for a fee.
                                    </p>
                                    <p>
                                        If you are interested in discussing what it would take to bring your project to life, please don&#39;t hesitate to reach out to sales@@soverance.com.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="column-item panel panel-default">
                            <a href="#spoiler-12" data-toggle="collapse" data-parent="#collapse-group3" class="block td-none ptb20 plr30 collapsed" aria-expanded="true">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span class="column-title uppercase fsize-14 fweight-700">What other services do you offer?</span>
                            </a>
                            <div class="collapse spoiler-hidden plr20" id="spoiler-12">
                                <div class="open-bl">
                                    <p>
                                        As a member of the Microsoft Partner Network, Soverance Studios is proud to offer high-quality DevOps consulting for Microsoft environments to improve the efficiency of your business.
                                        Our skills include custom application development, process automation, systems integration, service migration, network architecture, disaster recovery, and much more.
                                    </p>
                                    <p>
                                        Soverance Studios can help your organization achieve an extremely high level of technical competency in a short period of time.
                                        Whether on-prem or in the cloud, Soverance and Microsoft can help your business succeed. We offer the following services:
                                    </p>
                                    <ul class="list-1">
                                        <li class="color5">
                                            Microsoft enterprise solutions consulting
                                        </li>
                                        <li class="color5">
                                            Active Directory / Group Policy auditing
                                        </li>
                                        <li class="color5">
                                            Business process automation with PowerShell
                                        </li>
                                        <li class="color5">
                                            Custom .NET and UE4 application development
                                        </li>
                                        <li class="color5">
                                            Unreal Engine consulting
                                        </li>
                                        <li class="color5">
                                            Network infrastructure consulting
                                        </li>
                                        <li class="color5">
                                            Disaster Recovery consulting
                                        </li>
                                        <li class="color5">
                                            Project Management consulting
                                        </li>
                                    </ul>
                                    <p></p>
                                    <p>
                                        Soverance Studios charges consulting and development fees at a variable rate, based on the project’s scope, term, and complexity.  Initial consultations (via email) and price quotes are free.
                                        To obtain an initial consultation or to price quote a specific project, please contact sales@soverance.com.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="column-item panel panel-default">
                            <a href="#spoiler-13" data-toggle="collapse" data-parent="#collapse-group3" class="block td-none ptb20 plr30 collapsed">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span class="column-title uppercase fsize-14 fweight-700">Where are you located?</span>
                            </a>
                            <div class="collapse spoiler-hidden plr20" id="spoiler-13">
                                <div class="open-bl">
                                    <p>
                                        Soverance Studios is located in Atlanta, Georgia, USA.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="column-item panel panel-default">
                            <a href="#spoiler-14" data-toggle="collapse" data-parent="#collapse-group3" class="block td-none ptb20 plr30 collapsed">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span class="column-title uppercase fsize-14 fweight-700">What is the best way to contact you?</span>
                            </a>
                            <div class="collapse spoiler-hidden plr20" id="spoiler-14">
                                <div class="open-bl">
                                    <p>
                                        Fill out the contact form at the top of this page, or send an email to info@@soverance.com.  We&#39;ll respond to your inquiry as soon as possible.
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="fsize-32 fweight-700 lheight-32 font-agency uppercase color-white">
                    Ask Any Question
                </div>
                <form asp-action="ContactResults" class="ask-form mt40">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="input-wrap col-md-6 col-sm-6">
                            <input asp-for="ContactName" type="text" class="general_input italic" placeholder="Full name">
                            <span asp-validation-for="ContactName" class="text-danger"></span>
                        </div>
                        <div class="input-wrap col-md-6 col-sm-6">
                            <input asp-for="ContactEmail" type="email" class="general_input italic" placeholder="Email address">
                            <span asp-validation-for="ContactEmail" class="text-danger"></span>
                        </div>
                        <div class="input-wrap col-md-6 col-sm-6">
                            <input asp-for="ContactPhone" type="text" class="general_input italic" placeholder="Phone Number">
                            <span asp-validation-for="ContactPhone" class="text-danger"></span>
                        </div>
                        <div class="input-wrap col-md-6 col-sm-6">
                            <input asp-for="Subject" type="text" class="general_input italic" placeholder="Subject">
                            <span asp-validation-for="Subject" class="text-danger"></span>
                        </div>
                        <div class="input-wrap col-md-12">
                            <textarea asp-for="Message" class="general_input italic" placeholder="Your Message..."></textarea>
                            <span asp-validation-for="Message" class="text-danger"></span>
                        </div>
                    </div>
                    <input type="submit" class="btn gradient mt30 color-white color-white plr50 ptb19" value="Ask Question">
                </form>
            </div>
        </div>
    </div>
</section>
<!-- SECTION END -->
<!-- VALIDATION START -->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<!-- VALIDATION END -->