@{
    ViewData["Title"] = "Soverance Project Gallery";
}

<!-- PAGE NAME START -->
<section class="page-name parallax" data-paroller-factor="0.1" data-paroller-type="background" data-paroller-direction="vertical">
    <div class="container">
        <div class="row">
            <h1 class="page-title">
                Soverance Project Gallery
            </h1>
            <div class="breadcrumbs">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> /
                <a href="#">Gallery</a> /
                <span class="color-1">Soverance Project Gallery</span>
            </div>
        </div>
    </div>
</section>
<!-- PAGE NAME END -->
<!-- SECTION START -->
<section class="gallery ptb150">
    <div class="container">
        <div class="row">
            <div class="masonry-tpl">
                <div class="grid-wrapper">
                    <div class="filter_container text-center">
                        <div class="filter-item active" data-filter="all">
                            All
                        </div>
                        <div class="filter-item" data-filter="ethereal">
                            Ethereal Legends
                        </div>
                        <div class="filter-item" data-filter="endlessreach">
                            Endless Reach
                        </div>
                        <div class="filter-item" data-filter="echosphere">
                            Echosphere
                        </div>
                        <div class="filter-item" data-filter="ctf-elemental">
                            CTF-Elemental
                        </div>
                        <div class="filter-item" data-filter="ffxi-fighter">
                            FFXI Fighter
                        </div>
                    </div>
                    <div class="item_container relative mt40">
                        <div class="item ethereal col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="item-content">
                                <div class="image-bl">
                                    <img src="~/images/gallery/gallery-masonry-1.jpg" alt="">
                                </div>
                                <div class="item-info">
                                    <div class="info-bl text-center">
                                        <a href="single-image.html" data-trim="40" class="item-title color-white fsize-24 fweight-700 font-agency uppercase">
                                            Ethereal - image description
                                        </a>
                                        <div class="btn-container text-center mt30">
                                            <a href="#" class="item-btn inline-block valign-middle">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </a>
                                            <a href="#" class="item-btn inline-block valign-middle">
                                                <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item endlessreach col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="item-content">
                                <div class="image-bl">
                                    <img src="~/images/gallery/gallery-masonry-2.jpg" alt="">
                                </div>
                                <div class="item-info">
                                    <div class="info-bl text-center">
                                        <a href="single-image.html" data-trim="40" class="item-title color-white fsize-24 fweight-700 font-agency uppercase">
                                            Endless Reach - image description
                                        </a>
                                        <div class="btn-container text-center mt30">
                                            <a href="#" class="item-btn inline-block valign-middle">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </a>
                                            <a href="#" class="item-btn inline-block valign-middle">
                                                <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item ctf-elemental col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="item-content">
                                <div class="image-bl">
                                    <img src="~/images/gallery/gallery-masonry-3.jpg" alt="">
                                </div>
                                <div class="item-info">
                                    <div class="info-bl text-center">
                                        <a href="single-image.html" data-trim="40" class="item-title color-white fsize-24 fweight-700 font-agency uppercase">
                                            CTF-Elemental - image description
                                        </a>
                                        <div class="btn-container text-center mt30">
                                            <a href="#" class="item-btn inline-block valign-middle">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </a>
                                            <a href="#" class="item-btn inline-block valign-middle">
                                                <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item ffxi-fighter col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="item-content">
                                <div class="image-bl">
                                    <img src="~/images/gallery/gallery-masonry-4.jpg" alt="">
                                </div>
                                <div class="item-info">
                                    <div class="info-bl text-center">
                                        <a href="single-image.html" data-trim="40" class="item-title color-white fsize-24 fweight-700 font-agency uppercase">
                                            FFXI: Fighter - image description
                                        </a>
                                        <div class="btn-container text-center mt30">
                                            <a href="#" class="item-btn inline-block valign-middle">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </a>
                                            <a href="#" class="item-btn inline-block valign-middle">
                                                <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item echosphere col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="item-content">
                                <div class="image-bl">
                                    <img src="~/images/gallery/gallery-masonry-5.jpg" alt="">
                                </div>
                                <div class="item-info">
                                    <div class="info-bl text-center">
                                        <a href="single-image.html" data-trim="40" class="item-title color-white fsize-24 fweight-700 font-agency uppercase">
                                            Echosphere - image description
                                        </a>
                                        <div class="btn-container text-center mt30">
                                            <a href="#" class="item-btn inline-block valign-middle">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </a>
                                            <a href="#" class="item-btn inline-block valign-middle">
                                                <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item endlessreach col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="item-content">
                                <div class="image-bl">
                                    <img src="~/images/gallery/gallery-masonry-6.jpg" alt="">
                                </div>
                                <div class="item-info">
                                    <div class="info-bl text-center">
                                        <a href="single-image.html" data-trim="40" class="item-title color-white fsize-24 fweight-700 font-agency uppercase">
                                            Endless Reach - image description
                                        </a>
                                        <div class="btn-container text-center mt30">
                                            <a href="#" class="item-btn inline-block valign-middle">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </a>
                                            <a href="#" class="item-btn inline-block valign-middle">
                                                <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item ethereal col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="item-content">
                                <div class="image-bl">
                                    <img src="~/images/gallery/gallery-masonry-8.jpg" alt="">
                                </div>
                                <div class="item-info">
                                    <div class="info-bl text-center">
                                        <a href="single-image.html" data-trim="40" class="item-title color-white fsize-24 fweight-700 font-agency uppercase">
                                            Ethereal - image description
                                        </a>
                                        <div class="btn-container text-center mt30">
                                            <a href="#" class="item-btn inline-block valign-middle">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </a>
                                            <a href="#" class="item-btn inline-block valign-middle">
                                                <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item ethereal col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="item-content">
                                <div class="image-bl">
                                    <img src="~/images/gallery/gallery-masonry-7.jpg" alt="">
                                </div>
                                <div class="item-info">
                                    <div class="info-bl text-center">
                                        <a href="single-image.html" data-trim="40" class="item-title color-white fsize-24 fweight-700 font-agency uppercase">
                                            Ethereal - image description
                                        </a>
                                        <div class="btn-container text-center mt30">
                                            <a href="#" class="item-btn inline-block valign-middle">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </a>
                                            <a href="#" class="item-btn inline-block valign-middle">
                                                <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item ethereal col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="item-content">
                                <div class="image-bl">
                                    <img src="~/images/gallery/gallery-masonry-9.jpg" alt="">
                                </div>
                                <div class="item-info">
                                    <div class="info-bl text-center">
                                        <a href="single-image.html" data-trim="40" class="item-title color-white fsize-24 fweight-700 font-agency uppercase">
                                            Ethereal - image description
                                        </a>
                                        <div class="btn-container text-center mt30">
                                            <a href="#" class="item-btn inline-block valign-middle">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </a>
                                            <a href="#" class="item-btn inline-block valign-middle">
                                                <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cssload-container mt60">
                        <div class="cssload-double-torus"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SECTION END -->
