@{
    ViewData["Title"] = "Games";
}

<!-- PAGE NAME START -->
<section class="page-name parallax" data-paroller-factor="0.1" data-paroller-type="background" data-paroller-direction="vertical">
    <div class="container">
        <div class="row">
            <h1 class="page-title">
                Games
            </h1>
            <div class="breadcrumbs">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> /
                <span class="color-1">Games</span>
            </div>
        </div>
    </div>
</section>
<!-- PAGE NAME END -->
<!-- SECTION START -->
<section class="ptb150">
    <div class="container">
        <div class="row">
            <div class="games-container">
                <div class="g-item col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30 wow fadeInUp" data-wow-duration="1s">
                    <div class="image-container">
                        <img src="~/images/games/ethereal/small-slide-3.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="bottom-container">
                        <div class="table">
                            <div class="table-row">
                                <div class="table-cell fsize-14 color-8 fweight-700 uppercase">Steam</div>
                                <div class="table-cell fsize-14 color-2 fweight-700 uppercase text-right">Feb 21, 2017</div>
                            </div>
                        </div>
                        <div class="text-center mt20">
                            <a href="single-game.html" class="g-name fsize-30 fweight-700 font-agency uppercase color-white">
                                Ethereal Legends
                            </a>
                            <div class="mt20 color-2 lheight-26 equal-height" data-trim="90">
                                A modern indie action RPG built with Unreal Engine 4.
                            </div>
                            <div class="rating text-center mt20">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="g-item col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30 wow fadeInUp" data-wow-duration="1s">
                    <div class="image-container">
                        <img src="~/images/games/endlessreach/small-slide-5.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="bottom-container">
                        <div class="table">
                            <div class="table-row">
                                <div class="table-cell fsize-14 color-8 fweight-700 uppercase">Android</div>
                                <div class="table-cell fsize-14 color-2 fweight-700 uppercase text-right">Jul 12, 2014</div>
                            </div>
                        </div>
                        <div class="text-center mt20">
                            <a href="single-game.html" class="g-name fsize-30 fweight-700 font-agency uppercase color-white">
                                Endless Reach Mobile
                            </a>
                            <div class="mt20 color-2 lheight-26 equal-height" data-trim="90">
                                A hardcore space shoot 'em up for mobile devices.
                            </div>
                            <div class="rating text-center mt20">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</section>
<!-- SECTION END -->