@{
    ViewData["Title"] = "Games";
}

<!-- PAGE NAME START -->
<section class="page-name parallax" data-paroller-factor="0.1" data-paroller-type="background" data-paroller-direction="vertical">
    <div class="container">
        <div class="row">
            <h1 class="page-title">
                Games
            </h1>
            <div class="breadcrumbs">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> /
                <span class="color-1">Games</span>
            </div>
        </div>
    </div>
</section>
<!-- PAGE NAME END -->
<!-- SECTION START -->
<section class="ptb150">
    <div class="container">
        <div class="row">
            <div class="games-container">
                <div class="g-item col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30 wow fadeInUp" data-wow-duration="1s">
                    <div class="image-container">
                        <img src="~/images/games/game-1.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="bottom-container">
                        <div class="table">
                            <div class="table-row">
                                <div class="table-cell fsize-14 color-8 fweight-700 uppercase">New</div>
                                <div class="table-cell fsize-14 color-2 fweight-700 uppercase text-right">Mar 18-20, 2018</div>
                            </div>
                        </div>
                        <div class="text-center mt20">
                            <a href="single-game.html" class="g-name fsize-30 fweight-700 font-agency uppercase color-white">
                                Fifal 2018
                            </a>
                            <div class="mt20 color-2 lheight-26 equal-height" data-trim="90">
                                Turducken cupim hamburger beef ribs picanha, drumstick buffalo tri-tip cow. Turducken prosciutto shank.
                            </div>
                            <div class="rating text-center mt20">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="g-item col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30 wow fadeInUp" data-wow-duration="1s">
                    <div class="image-container">
                        <img src="~/images/games/game-2.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="bottom-container">
                        <div class="table">
                            <div class="table-row">
                                <div class="table-cell fsize-14 color-8 fweight-700 uppercase">New</div>
                                <div class="table-cell fsize-14 color-2 fweight-700 uppercase text-right">Apr 25-27, 2018</div>
                            </div>
                        </div>
                        <div class="text-center mt20">
                            <a href="single-game.html" class="g-name fsize-30 fweight-700 font-agency uppercase color-white">
                                Mix Combination
                            </a>
                            <div class="mt20 color-2 lheight-26 equal-height" data-trim="90">
                                Boudin ground round brisket, andouille ball tip meatloaf beef kevin. Fatback prosciutto.
                            </div>
                            <div class="rating text-center mt20">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="g-item col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30 wow fadeInUp" data-wow-duration="1s">
                    <div class="image-container">
                        <img src="~/images/games/game-3.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="bottom-container">
                        <div class="table">
                            <div class="table-row">
                                <div class="table-cell fsize-14 color-8 fweight-700 uppercase">New</div>
                                <div class="table-cell fsize-14 color-2 fweight-700 uppercase text-right">Mar 11, 2019</div>
                            </div>
                        </div>
                        <div class="text-center mt20">
                            <a href="single-game.html" class="g-name fsize-30 fweight-700 font-agency uppercase color-white">
                                Forza Jacson
                            </a>
                            <div class="mt20 color-2 lheight-26 equal-height" data-trim="90">
                                Cupim biltong pork belly filet mignon sausage turkey. Boudin flank beef ribs spare ribs pastrami.
                            </div>
                            <div class="rating text-center mt20">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="g-item col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30 wow fadeInUp" data-wow-duration="1s">
                    <div class="image-container">
                        <img src="~/images/games/game-4.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="bottom-container">
                        <div class="table">
                            <div class="table-row">
                                <div class="table-cell fsize-14 color-8 fweight-700 uppercase">New</div>
                                <div class="table-cell fsize-14 color-2 fweight-700 uppercase text-right">Sept 15, 2019</div>
                            </div>
                        </div>
                        <div class="text-center mt20">
                            <a href="single-game.html" class="g-name fsize-30 fweight-700 font-agency uppercase color-white">
                                NO MAN’S SKY
                            </a>
                            <div class="mt20 color-2 lheight-26 equal-height" data-trim="90">
                                Chicken shank short loin, pastrami shankle short ribs shoulder frankfurter swine ball tip hamburger.
                            </div>
                            <div class="rating text-center mt20">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="g-item col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30 wow fadeInUp" data-wow-duration="1s">
                    <div class="image-container">
                        <img src="~/images/games/game-5.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="bottom-container">
                        <div class="table">
                            <div class="table-row">
                                <div class="table-cell fsize-14 color-8 fweight-700 uppercase">New</div>
                                <div class="table-cell fsize-14 color-2 fweight-700 uppercase text-right">Mar 12, 2019</div>
                            </div>
                        </div>
                        <div class="text-center mt20">
                            <a href="single-game.html" class="g-name fsize-30 fweight-700 font-agency uppercase color-white">
                                Bartisfink Ole
                            </a>
                            <div class="mt20 color-2 lheight-26 equal-height" data-trim="90">
                                Doner tenderloin cupim swine bresaola burgdoggen. Turducken salami rump spare ribs pork loin brisket cow.
                            </div>
                            <div class="rating text-center mt20">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="g-item col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30 wow fadeInUp" data-wow-duration="1s">
                    <div class="image-container">
                        <img src="~/images/games/game-6.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="bottom-container">
                        <div class="table">
                            <div class="table-row">
                                <div class="table-cell fsize-14 color-8 fweight-700 uppercase">New</div>
                                <div class="table-cell fsize-14 color-2 fweight-700 uppercase text-right">Jun 10-13, 2018</div>
                            </div>
                        </div>
                        <div class="text-center mt20">
                            <a href="single-game.html" class="g-name fsize-30 fweight-700 font-agency uppercase color-white">
                                Dotdenxx
                            </a>
                            <div class="mt20 color-2 lheight-26 equal-height" data-trim="90">
                                Pork belly landjaeger kielbasa, spare ribs short ribs short loin turkey capicola venison burgdoggen shankle.
                            </div>
                            <div class="rating text-center mt20">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SECTION END -->