@{
    ViewData["Title"] = "Portfolio";
}

<!-- PAGE NAME START -->
<section class="page-name parallax" data-paroller-factor="0.1" data-paroller-type="background" data-paroller-direction="vertical">
    <div class="container">
        <div class="row">
            <h1 class="page-title">
                Portfolio
            </h1>
            <div class="breadcrumbs">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> /
                <a href="#">Studio</a> /
                <span class="color-1">Portfolio</span>
            </div>
        </div>
    </div>
</section>
<!-- PAGE NAME END -->
<!-- SECTION START -->
<section class="ptb150">
    <div class="container">
        <div class="row">
            <div class="games-container">
                <div class="g-item col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30 wow fadeInUp" data-wow-duration="1s">
                    <div class="image-container">
                        <img src="~/images/portfolio/preview-echosphere.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="bottom-container">
                        <div class="table">
                            <div class="table-row">
                                <div class="table-cell fsize-14 color-8 fweight-700 uppercase">Oculus VR</div>
                                <div class="table-cell fsize-14 color-2 fweight-700 uppercase text-right">Unreleased</div>
                            </div>
                        </div>
                        <div class="text-center mt20">
                            <a href="/echosphere" class="g-name fsize-30 fweight-700 font-agency uppercase color-white">
                                Echosphere
                            </a>
                            <div class="mt20 color-2 lheight-26 equal-height" data-trim="90">
                                Realtime audio visualization in virtual reality
                            </div>
                            <div class="rating text-center mt20">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="g-item col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30 wow fadeInUp" data-wow-duration="1s">
                    <div class="image-container">
                        <img src="~/images/portfolio/preview-soverance.com.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="bottom-container">
                        <div class="table">
                            <div class="table-row">
                                <div class="table-cell fsize-14 color-8 fweight-700 uppercase">ASP.NET Core</div>
                                <div class="table-cell fsize-14 color-2 fweight-700 uppercase text-right">Sep 15, 2018</div>
                            </div>
                        </div>
                        <div class="text-center mt20">
                            <a href="https://github.com/Soverance/soverance.com" class="g-name fsize-30 fweight-700 font-agency uppercase color-white">
                                soverance.com
                            </a>
                            <div class="mt20 color-2 lheight-26 equal-height" data-trim="90">
                                This very website is open source, and you can help contribute!
                            </div>
                            <div class="rating text-center mt20">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="g-item col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30 wow fadeInUp" data-wow-duration="1s">
                    <div class="image-container">
                        <img src="~/images/portfolio/preview-ctf-elemental.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="bottom-container">
                        <div class="table">
                            <div class="table-row">
                                <div class="table-cell fsize-14 color-8 fweight-700 uppercase">PC Mod</div>
                                <div class="table-cell fsize-14 color-2 fweight-700 uppercase text-right">Mar 14, 2015</div>
                            </div>
                        </div>
                        <div class="text-center mt20">
                            <a href="/ctf-elemental" class="g-name fsize-30 fweight-700 font-agency uppercase color-white">
                                CTF-Elemental
                            </a>
                            <div class="mt20 color-2 lheight-26 equal-height" data-trim="90">
                                Capture the Flag map for Unreal Tournament
                            </div>
                            <div class="rating text-center mt20">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="g-item col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30 wow fadeInUp" data-wow-duration="1s">
                    <div class="image-container">
                        <img src="~/images/portfolio/preview-exodus.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="bottom-container">
                        <div class="table">
                            <div class="table-row">
                                <div class="table-cell fsize-14 color-8 fweight-700 uppercase">.NET / PowerShell</div>
                                <div class="table-cell fsize-14 color-2 fweight-700 uppercase text-right">Mar 22, 2018</div>
                            </div>
                        </div>
                        <div class="text-center mt20">
                            <a href="https://github.com/Soverance/Exodus" class="g-name fsize-30 fweight-700 font-agency uppercase color-white">
                                Exodus
                            </a>
                            <div class="mt20 color-2 lheight-26 equal-height" data-trim="90">
                                An open-source backup tool for Hyper-V clusters and file shares.
                            </div>
                            <div class="rating text-center mt20">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="g-item col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30 wow fadeInUp" data-wow-duration="1s">
                    <div class="image-container">
                        <img src="~/images/portfolio/preview-ffxi-fighter.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="bottom-container">
                        <div class="table">
                            <div class="table-row">
                                <div class="table-cell fsize-14 color-8 fweight-700 uppercase">M.U.G.E.N.</div>
                                <div class="table-cell fsize-14 color-2 fweight-700 uppercase text-right">Dec 20, 2012</div>
                            </div>
                        </div>
                        <div class="text-center mt20">
                            <a href="/ffxi-fighter" class="g-name fsize-30 fweight-700 font-agency uppercase color-white">
                                FFXI: Fighter
                            </a>
                            <div class="mt20 color-2 lheight-26 equal-height" data-trim="90">
                                A 2D fighting game featuring characters from Final Fantasy XI
                            </div>
                            <div class="rating text-center mt20">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="g-item col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30 wow fadeInUp" data-wow-duration="1s">
                    <div class="image-container">
                        <img src="~/images/portfolio/preview-endlessreach-vr.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="bottom-container">
                        <div class="table">
                            <div class="table-row">
                                <div class="table-cell fsize-14 color-8 fweight-700 uppercase">Oculus VR</div>
                                <div class="table-cell fsize-14 color-2 fweight-700 uppercase text-right">Aug 3, 2014</div>
                            </div>
                        </div>
                        <div class="text-center mt20">
                            <a href="/endlessreach/vr" class="g-name fsize-30 fweight-700 font-agency uppercase color-white">
                                Endless Reach VR
                            </a>
                            <div class="mt20 color-2 lheight-26 equal-height" data-trim="90">
                                A hardcore shoot 'em up prototype for virtual reality
                            </div>
                            <div class="rating text-center mt20">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="g-item col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30 wow fadeInUp" data-wow-duration="1s">
                    <div class="image-container">
                        <img src="~/images/portfolio/preview-indiedev-podcast.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="bottom-container">
                        <div class="table">
                            <div class="table-row">
                                <div class="table-cell fsize-14 color-8 fweight-700 uppercase">Soundcloud</div>
                                <div class="table-cell fsize-14 color-2 fweight-700 uppercase text-right">Apr 2015 - Jun 2016</div>
                            </div>
                        </div>
                        <div class="text-center mt20">
                            <a href="https://soundcloud.com/indiedev-1" class="g-name fsize-30 fweight-700 font-agency uppercase color-white">
                                #IndieDEV Podcast
                            </a>
                            <div class="mt20 color-2 lheight-26 equal-height" data-trim="90">
                                Join us for couch collaboration at Soverance Studios
                            </div>
                            <div class="rating text-center mt20">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SECTION END -->