@{
    ViewData["Title"] = "Testimonials";
}

<!-- PAGE NAME START -->
<section class="page-name parallax" data-paroller-factor="0.1" data-paroller-type="background" data-paroller-direction="vertical">
    <div class="container">
        <div class="row">
            <h1 class="page-title">
                Testimonials
            </h1>
            <div class="breadcrumbs">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> /
                <a href="#">Studio</a> /
                <span class="color-1">Testimonials</span>
            </div>
        </div>
    </div>
</section>
<!-- PAGE NAME END -->
<!-- SECTION START -->
<section class="testimonials-bl ptb170">
    <div class="container">
        <div class="row">
            <div class="testimonial-tpl clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s">
                    <div class="slide-item equal-height">
                        <div class="author-img">
                            <img src="~/images/testimonials/testimonial-1.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="text-center">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                            <div class="fsize-24 fweight-700 color-white font-agency uppercase">
                                William Castro
                            </div>
                            <div class="color-1 fsize-14 fweight-700 uppercase">
                                Gamer
                            </div>
                            <div class="fsize-20 italic mt30" data-trim="130">
                                «Fatback landjaeger prosciutto jerky ham. Salami cappig cupim leberkas. Kevin bacon shankle tenderloin ground round.»
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s">
                    <div class="slide-item equal-height">
                        <div class="author-img">
                            <img src="~/images/testimonials/testimonial-2.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="text-center">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                            <div class="fsize-24 fweight-700 color-white font-agency uppercase">
                                Miguel Carpenter
                            </div>
                            <div class="color-1 fsize-14 fweight-700 uppercase">
                                Gamer
                            </div>
                            <div class="fsize-20 italic mt30" data-trim="130">
                                «Porchetta strip steak ball tip, salami pork belly jerky beef ribs. Venison ham hock beef ribs sirloin. Burgdoggen filet swine porchetta.»
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s">
                    <div class="slide-item equal-height">
                        <div class="author-img">
                            <img src="~/images/testimonials/testimonial-3.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="text-center">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                            <div class="fsize-24 fweight-700 color-white font-agency uppercase">
                                Glenn Smith
                            </div>
                            <div class="color-1 fsize-14 fweight-700 uppercase">
                                Gamer
                            </div>
                            <div class="fsize-20 italic mt30" data-trim="130">
                                «Shank ball tip boudin strip steak tenderloin picanha meatloaf ground round buffalo swine. Ham burgdoggen strip steak drumstick buffalo.»
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s">
                    <div class="slide-item equal-height">
                        <div class="author-img">
                            <img src="~/images/testimonials/testimonial-4.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="text-center">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                            <div class="fsize-24 fweight-700 color-white font-agency uppercase">
                                Harvey Delgado
                            </div>
                            <div class="color-1 fsize-14 fweight-700 uppercase">
                                Gamer
                            </div>
                            <div class="fsize-20 italic mt30" data-trim="130">
                                «Brisket chicken meatloaf ribeye venison prosciutto drumstick. Shoulder ball tip beef, bacon porchetta burgdoggen cow fatback venison bresaola.»
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s">
                    <div class="slide-item equal-height">
                        <div class="author-img">
                            <img src="~/images/testimonials/testimonial-5.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="text-center">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                            <div class="fsize-24 fweight-700 color-white font-agency uppercase">
                                Lucy Greene
                            </div>
                            <div class="color-1 fsize-14 fweight-700 uppercase">
                                Gamer
                            </div>
                            <div class="fsize-20 italic mt30" data-trim="130">
                                «Bresaola sirloin prosciutto biltong pork chop ribeye chicken fatback. Picanha short loin flank frankfurter pork. Sirloin pork bellystrip steak.»
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s">
                    <div class="slide-item equal-height">
                        <div class="author-img">
                            <img src="~/images/testimonials/testimonial-6.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="text-center">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                            <div class="fsize-24 fweight-700 color-white font-agency uppercase">
                                Lucy Greene
                            </div>
                            <div class="color-1 fsize-14 fweight-700 uppercase">
                                Gamer
                            </div>
                            <div class="fsize-20 italic mt30" data-trim="130">
                                «Bresaola sirloin prosciutto biltong pork chop ribeye chicken fatback. Picanha short loin flank frankfurter pork. Sirloin pork bellystrip steak.»
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s">
                    <div class="slide-item equal-height">
                        <div class="author-img">
                            <img src="~/images/testimonials/testimonial-7.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="text-center">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                            <div class="fsize-24 fweight-700 color-white font-agency uppercase">
                                Mildred Floyd
                            </div>
                            <div class="color-1 fsize-14 fweight-700 uppercase">
                                Gamer
                            </div>
                            <div class="fsize-20 italic mt30" data-trim="130">
                                «Spare ribs beef ribs prosciutto flank strip steak pancetta meatloaf ball tip ham hock tenderloin brisket turducken ribs buffalo bresaola.»
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s">
                    <div class="slide-item equal-height">
                        <div class="author-img">
                            <img src="~/images/testimonials/testimonial-8.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="text-center">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                            <div class="fsize-24 fweight-700 color-white font-agency uppercase">
                                Lewis Fitzgerald
                            </div>
                            <div class="color-1 fsize-14 fweight-700 uppercase">
                                Gamer
                            </div>
                            <div class="fsize-20 italic mt30" data-trim="130">
                                «Prosciutto tenderloin hamburger, doner corned beef pork loin tri-tip pork belly strip steak picanha. Bresaola rump flank ground round boudin swine.»
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center mt-80">
                    <div class="pagination-page">
                        <a href="#" class="page-numbers prev">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </a>
                        <span class="page-numbers active">
                            1
                        </span>
                        <a href="#" class="page-numbers">
                            2
                        </a>
                        <span class="page-numbers dots">
                            ...
                        </span>
                        <a href="#" class="page-numbers">
                            12
                        </a>
                        <a href="#" class="page-numbers next">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SECTION END -->
