@{
    ViewData["Title"] = "FFXI: Fighter Documentation";
}

<!-- PAGE NAME START -->
<section class="page-name parallax" data-paroller-factor="0.1" data-paroller-type="background" data-paroller-direction="vertical">
    <div class="container">
        <div class="row">
            <h1 class="page-title">
                FFXI: Fighter Documentation
            </h1>
            <div class="breadcrumbs">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> /
                <a asp-area="" asp-controller="Home" asp-action="Portfolio">Portfolio</a> /
                <a asp-area="FinalFantasyFighter" asp-controller="FinalFantasyFighter" asp-action="Index">FFXI: Fighter</a> /
                <span class="color-1">Documentation</span>
            </div>
        </div>
    </div>
</section>
<!-- PAGE NAME END -->
<!-- SECTION START -->
<section class="ptb150">
    <div class="container">
        <div class="row">
                <div class="post-content mt60">
                    <div class="post-image">
                        <img src="~/images/portfolio/ffxi-fighter/ff4.jpg" alt="">
                    </div>
                    <div class="post-bottom background-4">
                        <div class="p60">
                            <div class="table">
                                <div class="table-row">
                                    <div class="table-cell valign-top">
                                        <div class="fsize-14 fweight-700 uppercase color-1">
                                            Final Fantasy XI: Fighter Documentation
                                        </div>
                                    </div>
                                    <div class="table-cell valign-top text-right">
                                        <div class="fsize-14 fweight-700 uppercase">
                                            Dec 16, 2012
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt20">
                                <p>
                                    <div class="fsize-14 fweight-700 uppercase">
                                        DESCRIPTION
                                    </div>
                                    Unleash the power of the ultimate fighters in Final Fantasy XI!  Relive epic battles from the acclaimed online RPG in this new fighter from Soverance Studios.  Created using Elecbyte’s M.U.G.E.N. engine, enjoy arcade action, two player versus, co-op team modes and more!


                                </p>
                                <p>
                                    <div class="fsize-14 fweight-700 uppercase">
                                        THIS TITLE IS NO LONGER IN DEVELOPMENT
                                    </div>
                                    This is a fan-created 2D fighting game based on Final Fantasy XI and powered by Elecbyte’s M.U.G.E.N. engine.  Final Fantasy XI is © 2001 - 2012 SQUARE ENIX CO., LTD. All Rights Reserved.  Elecbyte and the M.U.G.E.N. engine are © 1999-2011 Elecbyte. All Rights Reserved.
                                </p>
                                <p>
                                    <div class="fsize-14 fweight-700 uppercase">
                                        DISCLAIMERS
                                    </div>
                                    Neither Scott McCutchen nor Soverance Studios claims copyright over any images, pictures, art, screens, music, sound effects, or media present in this software.
                                    To speak plainly, I did not create any of the art used in this game.  I found most of it through Google’s image search, and simply modified it to my needs.  The music comes directly from the official FFXI OST.
                                    If any of the above belongs to you, and you would like to be credited in this readme, send an email with verification to info@@soverance.com.
                                </p>
                                <p>
                                    <div class="fsize-14 fweight-700 uppercase">
                                        LICENSE
                                    </div>
                                    This program is free software: you can redistribute it and/or modify
                                    it under the terms of the GNU General Public License as published by
                                    the Free Software Foundation, either version 3 of the License, or
                                    (at your option) any later version.

                                    This program is distributed in the hope that it will be useful,
                                    but WITHOUT ANY WARRANTY; without even the implied warranty of
                                    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                                    GNU General Public License for more details.

                                    You should have received a copy of the GNU General Public License
                                    along with this program.  If not, see http://www.gnu.org/licenses/.

                                </p>
                                <p>
                                    <div class="fsize-14 fweight-700 uppercase">
                                        TOOLS
                                    </div>
                                    This game was created using the following software tools:
                                    <ul class="list-1 pt10">
                                        <li class="color5">
                                            M.U.G.E.N. version 1.0 - Jan. 18th 2011 release
                                        </li>
                                        <li class="color5">
                                            Adobe Photoshop CS5
                                        </li>
                                        <li class="color5">
                                            JEdit
                                        </li>
                                        <li class="color5">
                                            Fighter Factory Ultimate 2.6.0.2010
                                        </li>
                                        <li class="color5">
                                            FFXI Model Viewer by Folye - version 2.21
                                        </li>
                                        <li class="color5">
                                            Cybaster’s Automatic Stage Creation Tool  2.22.2010
                                        </li>
                                    </ul>

                                    The basic M.U.G.E.N. engine was modified to accept a new motif and fight definition.

                                    <ul class="list-1 pt10">
                                        <li class="color5">
                                            Fight definition:  Unknown Lifebars by ‘chenchox97’
                                        </li>
                                        <li class="color5">
                                            Motif:  Final Fantasy Tactics screenpack by ‘usetheforcehan’
                                            <a href="http://mugenguild.com/forum/index.php?topic=126583.0">http://mugenguild.com/forum/index.php?topic=126583.0</a>
                                        </li>
                                    </ul>
                                </p>
                                <p>
                                    <div class="fsize-14 fweight-700 uppercase">
                                        KEY FEATURES
                                    </div>
                                    <ol class="list-2 pt10">
                                        <li class="color5">
                                            Exciting 2D fighting action
                                        </li>
                                        <li class="color5">
                                            26 playable characters
                                        </li>
                                        <li class="color5">
                                            9 stages in familiar Final Fantasy XI locales
                                        </li>
                                        <li class="color5">
                                            Relive 17 musical scores from the official soundtrack to FFXI
                                        </li>
                                        <li class="color5">
                                            9 different gameplay modes, from classic arcade to multiplayer co-op
                                        </li>
                                        <li class="color5">
                                            PC gamepad compatible!
                                        </li>
                                    </ol>
                                </p>
                                <p>
                                    <div class="fsize-14 fweight-700 uppercase">
                                        Installation Instructions
                                    </div>
                                    <ul class="list-1 pt10">
                                        <li class="color5">
                                            Unzip the file 'FFXI_Fighter.zip' to any directory of your choosing.
                                        </li>
                                        <li class="color5">
                                            Run the application 'Final Fantasy XI - Fighter.exe'
                                        </li>
                                        <li class="color5">
                                            Fight!
                                        </li>
                                    </ul>
                                </p>
                                <p>
                                    <div class="fsize-14 fweight-700 uppercase">
                                        Character List
                                    </div>
                                    - Character creators are credited (in parenthesis) where possible
                                    <ul class="list-1 pt10">
                                        <li class="color5">
                                            Ace  (Hume, swaps between Ace's Helm jobs - Kamonanban)
                                        </li>
                                        <li class="color5">
                                            Akaneko (Mithra RDM - Okan)
                                        </li>
                                        <li class="color5">
                                            Areuhat (Elvaan BRD - Okan)
                                        </li>
                                        <li class="color5">
                                            Ayame  (Hume SAM - Kamonanban)
                                        </li>
                                        <li class="color5">
                                            Buront (Elvaan PLD - Ryu-San)
                                        </li>
                                        <li class="color5">
                                            Cactuar (Zwoop)
                                        </li>
                                        <li class="color5">
                                            Cloud Strife (Special addition from FF7 fame - Yamakichi)
                                        </li>
                                        <li class="color5">
                                            Gadalar (Whitegate Serpent General)
                                        </li>
                                        <li class="color5">
                                            Gulool Ja Ja (Spider)
                                        </li>
                                        <li class="color5">
                                            Kam'lanaut (Okan)
                                        </li>
                                        <li class="color5">
                                            Puppetmaster (Spider)
                                        </li>
                                        <li class="color5">
                                            King Behemoth (Ryu-San)
                                        </li>
                                        <li class="color5">
                                            Kitanaininjya (Hume NIN)
                                        </li>
                                        <li class="color5">
                                            Maat
                                        </li>
                                        <li class="color5">
                                            Naji (Bastok hume - Kamonanban)
                                        </li>
                                        <li class="color5">
                                            Necorsair (Mithra COR - Okan)
                                        </li>
                                        <li class="color5">
                                            Nekomo (Mithra MNK - Okan)
                                        </li>
                                        <li class="color5">
                                            Nekonin (Mithra NIN - Mayupon)
                                        </li>
                                        <li class="color5">
                                            Onekonin (Mithra NIN)
                                        </li>
                                        <li class="color5">
                                            Ryu San (Elvaan DRG - Ryu-San)
                                        </li>
                                        <li class="color5">
                                            Shantotto 
                                        </li>
                                        <li class="color5">
                                            Sirohime (Hume WHM sprite)
                                        </li>
                                        <li class="color5">
                                            Worm 
                                        </li>
                                        <li class="color5">
                                            Tonberry (Ziggerfreud)
                                        </li>
                                        <li class="color5">
                                            Zeid (Okan)
                                        </li>
                                    </ul>
                                </p>
                                <p>
                                    <div class="fsize-14 fweight-700 uppercase">
                                        Stages and Soundtrack Files
                                    </div>
                                    <ul class="list-1 pt10">
                                        <li class="color5">
                                            Sea - altaieu.mp3
                                        </li>
                                        <li class="color5">
                                            Altepa Desert - altepa.mp3
                                        </li>
                                        <li class="color5">
                                            Boyahda Tree - boyahdatree.mp3
                                        </li>
                                        <li class="color5">
                                            Empyreal Nexus - empyreal.mp3
                                        </li>
                                        <li class="color5">
                                            LaTheine Plains - latheine.mp3
                                        </li>
                                        <li class="color5">
                                            Mhaura - mhaura.mp3
                                        </li>
                                        <li class="color5">
                                            Qufim Island - qufim.mp3
                                        </li>
                                        <li class="color5">
                                            Throne Room - throneroom.mp3
                                        </li>
                                        <li class="color5">
                                            Aht Urghan Whitegate - whitegate.mp3
                                        </li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                        <div class="bottom-info-bl">
                            <div class="table">
                                <div class="table-cell valign-middle">
                                    <i class="fa fa-user color-6 fsize-14" aria-hidden="true"></i>
                                    <span class="color-2 fsize-14 ml5">Soverance Studios</span>
                                </div>
                                <div class="table-cell valign-middle text-right">
                                    <i class="fa fa-comment color-6 fsize-14" aria-hidden="true"></i>
                                    <span class="color-2 fsize-14 ml5">Ethereal EULA</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <partial name="_GamePreviewInsert" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SECTION END -->
