@{
    ViewData["Title"] = "FFXI: Fighter";
}

<!-- PAGE NAME START -->
<section class="page-name parallax" style="background-image: url(../images/portfolio/ffxi-fighter/page-name.jpg)" data-paroller-factor="0.1" data-paroller-type="background" data-paroller-direction="vertical">
    <div class="container">
        <div class="row">
            <h1 class="page-title">
                FFXI: Fighter
            </h1>
            <div class="breadcrumbs">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> /
                <a asp-area="" asp-controller="Home" asp-action="Portfolio">Portfolio</a> /
                <span class="color-1">FFXI: Fighter</span>
            </div>
        </div>
    </div>
</section>
<!-- PAGE NAME END -->
<!-- SECTION START -->
<section class="ptb150">
    <div class="container">
        <div class="row">
            <div class="top-bl">
                <div class="game-img-slider bg-arrow">
                    <div class="image-wrapper">
                        <a href="~/images/portfolio/ffxi-fighter/ff1.jpg" data-lightbox="game-slides">
                            <img src="~/images/portfolio/ffxi-fighter/small-ff1.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/portfolio/ffxi-fighter/ff2.jpg" data-lightbox="game-slides">
                            <img src="~/images/portfolio/ffxi-fighter/small-ff2.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/portfolio/ffxi-fighter/ff3.jpg" data-lightbox="game-slides">
                            <img src="~/images/portfolio/ffxi-fighter/small-ff3.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/portfolio/ffxi-fighter/ff4.jpg" data-lightbox="game-slides">
                            <img src="~/images/portfolio/ffxi-fighter/small-ff4.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/portfolio/ffxi-fighter/ff5.jpg" data-lightbox="game-slides">
                            <img src="~/images/portfolio/ffxi-fighter/small-ff5.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/portfolio/ffxi-fighter/ff6.jpg" data-lightbox="game-slides">
                            <img src="~/images/portfolio/ffxi-fighter/small-ff6.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/portfolio/ffxi-fighter/ff7.jpg" data-lightbox="game-slides">
                            <img src="~/images/portfolio/ffxi-fighter/small-ff7.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/portfolio/ffxi-fighter/ff8.jpg" data-lightbox="game-slides">
                            <img src="~/images/portfolio/ffxi-fighter/small-ff8.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/portfolio/ffxi-fighter/ff9.jpg" data-lightbox="game-slides">
                            <img src="~/images/portfolio/ffxi-fighter/small-ff9.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/portfolio/ffxi-fighter/ff10.jpg" data-lightbox="game-slides">
                            <img src="~/images/portfolio/ffxi-fighter/small-ff10.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/portfolio/ffxi-fighter/ff11.jpg" data-lightbox="game-slides">
                            <img src="~/images/portfolio/ffxi-fighter/small-ff11.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/portfolio/ffxi-fighter/ff12.jpg" data-lightbox="game-slides">
                            <img src="~/images/portfolio/ffxi-fighter/small-ff12.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/portfolio/ffxi-fighter/ff13.jpg" data-lightbox="game-slides">
                            <img src="~/images/portfolio/ffxi-fighter/small-ff13.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/portfolio/ffxi-fighter/ff14.jpg" data-lightbox="game-slides">
                            <img src="~/images/portfolio/ffxi-fighter/small-ff14.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt80">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb30">
                <div class="tab-head table uppercase fsize-14 fweight-700">
                    <div class="table-cell valign-middle ws-20 color-1">
                        2D Fighting Action
                    </div>
                    <div class="table-cell valign-middle text-right">
                        Released Dec 20, 2012
                    </div>
                </div>
                <br />
                <div class="image-wrapper">
                    <img src="~/images/portfolio/ffxi-fighter/logo.jpg" alt="" class="img-responsive center-block">
                </div>
                <div class="mt50 lheight-26 fweight-300">
                    <p>
                        Unleash the power of the ultimate fighters in Final Fantasy XI! Relive epic battles from the acclaimed online RPG in this new fighter from Soverance Studios.
                    </p>
                    <p>
                        Created using Elecbyte’s M.U.G.E.N. engine, enjoy arcade action with more than 25 fan-favorite characters from the Final Fantasy universe, two player versus, co-op team modes and more!
                    </p>
                    <p>
                        This game is not available for download, and has been removed at the request of Square Enix Holdings Co., Ltd.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb30">
                <div class="default-tabs">
                    <div class="image-bl">
                        <video id="ffxifighter" class="vjs-big-play-centered video-js vjs-default-skin vjs-16-9 game-full-img" controls preload="auto" width="570" height="450" poster="~/images/games/ffxifighter-slide-1.jpg"
                               data-setup='{ "techOrder": ["youtube"], "sources": { "type": "video/youtube", "src": "https://www.youtube.com/watch?v=DCktm5W-Am0"}}'></video>
                    </div>
                </div>
            </div>
            <div class="widget-wrapper">
                <br />
                <table class="table list-1">
                    <tbody>
                        <tr>
                            <td>
                                <div class="table table-nobackground">
                                    <div class="table-row">
                                        <div class="latest-title table-cell valign-middle text-center pl20">
                                            <div class="title-top font-agency fweight-700 uppercase color-white">
                                                <i class="fa fa-shield fsize-80 fweight-400 color-6"></i>
                                                <p>2D Fighting Action</p>
                                            </div>
                                            <p>Made with the M.U.G.E.N. fighting game engine, take on your opponents through fast and furious fighting action!</p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="table table-nobackground">
                                    <div class="table-row">
                                        <div class="latest-title table-cell valign-middle text-center pl20">
                                            <div class="title-top font-agency fweight-700 uppercase color-white">
                                                <i class="fa fa-cubes fsize-80 fweight-400 color-6"></i>
                                                <p>FFXI Themes</p>
                                            </div>
                                            <p>Do battle with more than 25 characters in 9 familiar locales straight from Final Fantasy XI, complete with over 17 musical scores from the official soundtrack.</p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="table table-nobackground">
                                    <div class="table-row">
                                        <div class="latest-title table-cell valign-middle text-center pl20">
                                            <div class="title-top font-agency fweight-700 uppercase color-white">
                                                <i class="fa fa-gamepad fsize-80 fweight-400 color-6"></i>
                                                <p>Gameplay Modes</p>
                                            </div>
                                            <p>Defeat your enemies in 9 separate gameplay modes, such as classic arcade, versus, time attack, and multiplayer co-op.</p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>            
        </div>
    </div>
</section>
<!-- SECTION END -->