@{
    ViewData["Title"] = "Endless Reach Mobile";
}

<!-- PAGE NAME START -->
<section class="page-name parallax" style="background-image: url(../images/games/endlessreach/page-name.jpg)" data-paroller-factor="0.1" data-paroller-type="background" data-paroller-direction="vertical">
    <div class="container">
        <div class="row">
            <h1 class="page-title">
                Endless Reach Mobile
            </h1>
            <div class="breadcrumbs">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> /
                <a asp-area="" asp-controller="Home" asp-action="Games">Games</a> /
                <span class="color-1">Endless Reach Mobile</span>
            </div>
        </div>
    </div>
</section>
<!-- PAGE NAME END -->
<!-- SECTION START -->
<section class="ptb150">
    <div class="container">
        <div class="row">
            <div class="top-bl">
                <div class="game-img-slider bg-arrow">
                    <div class="image-wrapper">
                        <a href="~/images/games/endlessreach/large/1.jpg" data-lightbox="game-slides">
                            <img src="~/images/games/endlessreach/small-slide-1.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/games/endlessreach/large/2.jpg" data-lightbox="game-slides">
                            <img src="~/images/games/endlessreach/small-slide-2.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/games/endlessreach/large/3.jpg" data-lightbox="game-slides">
                            <img src="~/images/games/endlessreach/small-slide-3.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/games/endlessreach/large/4.jpg" data-lightbox="game-slides">
                            <img src="~/images/games/endlessreach/small-slide-4.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/games/endlessreach/large/5.jpg" data-lightbox="game-slides">
                            <img src="~/images/games/endlessreach/small-slide-5.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/games/endlessreach/large/6.jpg" data-lightbox="game-slides">
                            <img src="~/images/games/endlessreach/small-slide-6.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/games/endlessreach/large/7.jpg" data-lightbox="game-slides">
                            <img src="~/images/games/endlessreach/small-slide-7.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/games/endlessreach/large/8.jpg" data-lightbox="game-slides">
                            <img src="~/images/games/endlessreach/small-slide-8.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt80">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb30">
                <div class="tab-head table uppercase fsize-14 fweight-700">
                    <div class="table-cell valign-middle ws-20 color-1">
                        Hardcore Mobile Shmup
                    </div>
                    <div class="table-cell valign-middle text-right">
                        Released Jul 12, 2014
                    </div>
                </div>
                <br />
                <div class="image-wrapper">
                    <img src="~/images/logos/endlessreachmobile.png" alt="" class="img-responsive center-block">
                </div>
                <div class="mt50 lheight-26 fweight-300">
                    <p>
                        Endless Reach is a hardcore shoot ‘em up that puts you in the shoes of a lone space drone pilot,
                        laying claim to the uncharted galaxy known as the Reach.
                    </p>
                    <p>
                        Send your starfighter drone out into the unknown,
                        and use it to battle your way through the alien hordes and make the regions safe for colonization.
                        The future of humanity depends on you!
                    </p>
                    <p>
                        Designed exclusively for mobile devices, this free shmup provides challenging gameplay great for short bursts while on the go.
                    </p>
                </div>
                <div class="mt60 table g-bottom">
                    <div class="table-cell valign-middle">
                        <a href="https://play.google.com/store/apps/details?id=com.Soverance.EndlessReach&hl=en_US" class="btn gradient color-white plr60 ptb19 center-block">
                            <img src="~/images/logos/google-play-logo.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb30">
                <div class="default-tabs">
                    <div class="image-bl">
                        <video id="ermobile" class="vjs-big-play-centered video-js vjs-default-skin vjs-16-9 game-full-img" controls preload="auto" width="570" height="450" poster="~/images/games/endlessreachmobile-slide-1.jpg"
                               data-setup='{ "techOrder": ["youtube"], "sources": { "type": "video/youtube", "src": "https://www.youtube.com/watch?v=sBb85JIB_jA"}}'></video>
                    </div>
                </div>
            </div>
            <div class="widget-wrapper">
                <br />
                <table class="table list-1">
                    <tbody>
                        <tr>
                            <td>
                                <div class="table table-nobackground">
                                    <div class="table-row">
                                        <div class="latest-title table-cell valign-middle text-center pl20">
                                            <div class="title-top font-agency fweight-700 uppercase color-white">
                                                <i class="fa fa-shield fsize-80 fweight-400 color-6"></i>
                                                <p>Intense Combat</p>
                                            </div>
                                            <p>Your Starfighter is equipped with a powerful laser cannon, which can be upgraded to extreme levels. Collect powerups to deal more damage, and lay waste to the alien invasion of the Reach.</p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="table table-nobackground">
                                    <div class="table-row">
                                        <div class="latest-title table-cell valign-middle text-center pl20">
                                            <div class="title-top font-agency fweight-700 uppercase color-white">
                                                <i class="fa fa-puzzle-piece fsize-80 fweight-400 color-6"></i>
                                                <p>Devastating Overloads</p>                                                
                                            </div>
                                            <p>Upgrade your cannon too much and you may find yourself overloading with power - time the release of this energy just right and you can destroy everything in range. Miss the timing, and your ship explodes.</p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="table table-nobackground">
                                    <div class="table-row">
                                        <div class="latest-title table-cell valign-middle text-center pl20">
                                            <div class="title-top font-agency fweight-700 uppercase color-white">
                                                <i class="fa fa-gamepad fsize-80 fweight-400 color-6"></i>
                                                <p>Online Leaderboards</p>
                                            </div>
                                            <p>Compete with other players from around the globe to see who can get the highest score on each of the ten levels.</p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!-- SECTION END -->
