@{
    ViewData["Title"] = "Job Listing Sidebar";
}

<!-- SECTION START -->
<div class="item-right col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <video id="vid1" class="vjs-big-play-centered video-js vjs-default-skin vjs-16-9" controls preload="auto" width="585" height="330"
           data-setup='{ "techOrder": ["youtube"], "sources": { "type": "video/youtube", "src": "https://www.youtube.com/watch?v=8dH-CnwhWC4"}}'></video>
    <br />
    <div class="lheight-26">
        <p>To apply for this position, please email your resume and cover letter to <a href="mailto:jobs@soverance.com">jobs@soverance.com</a>.  If you're applying for an art position, be sure to include a link to your online portfolio with your application.</p>
        <br />
        <p>All applications without a resume and/or portfolio will be immediately discarded.</p>
    </div>
</div>
<!-- SECTION END -->  