@{
    ViewData["Title"] = "Game Preview Insert";
}

<!-- SECTION START -->
<section>
    <div class="row mt60 wow fadeInLeft">
        <div class="related-post">
            <div class="related-item col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <a href="/ethereal" class="related-wrapper">
                    <div class="related-img">
                        <img src="~/images/blog/ethereal-preview.jpg" alt="">
                    </div>
                    <div class="related-title">
                        <div class="font-agency fsize-24 fweight-700 color-white uppercase">
                            Ethereal Legends
                        </div>
                    </div>
                </a>
            </div>
            <div class="related-item col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <a href="/endlessreach" class="related-wrapper">
                    <div class="related-img">
                        <img src="~/images/blog/er-mobile-preview.jpg" alt="">
                    </div>
                    <div class="related-title">
                        <div class="font-agency fsize-24 fweight-700 color-white uppercase">
                            Endless Reach
                        </div>
                    </div>
                </a>
            </div>
            <div class="related-item col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <a href="echosphere" class="related-wrapper">
                    <div class="related-img">
                        <img src="~/images/blog/echosphere-preview.jpg" alt="">
                    </div>
                    <div class="related-title">
                        <div class="font-agency fsize-24 fweight-700 color-white uppercase">
                            Echosphere
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- SECTION END -->  