@{
    ViewData["Title"] = "Contact Submission Results";
}

<!-- SECTION START -->
<section class="table page-404">
    <div class="table-row">
        <div class="table-cell valign-middle text-center">
            <div>

            </div>
            <div class="title-error mt30">
                <h2 class="text-uppercase">Thank you for contacting Soverance Studios.</h2>
                <br />
                <p>
                    <strong>Response Results:</strong> 
                </p>
                <p>
                    <code>@ViewData["ContactStatus"]</code>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- SECTION END -->  