@{
    ViewData["Title"] = "Error";
}

<!-- SECTION START -->
<section class="table page-404">
    <div class="table-row">
        <div class="table-cell valign-middle text-center">
            <div>
                <img src="~/images/error/404-img.png" alt="">
            </div>
            <div class="title-error mt30">
                <h2 class="text-danger">An error occurred while processing your request.</h2>
                <br />
                <p>
                    <strong>Response Code:</strong> <code>@ViewData["responseCode"]</code>
                </p>
                <p>
                    <strong>Error Message:</strong> <code>@ViewData["message"]</code>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- SECTION END -->  