@{
    ViewData["Title"] = "Ethereal Guide";
}

<!-- PAGE NAME START -->
<section class="page-name parallax" data-paroller-factor="0.1" data-paroller-type="background" data-paroller-direction="vertical">
    <div class="container">
        <div class="row">
            <h1 class="page-title">
                Ethereal Guide
            </h1>
            <div class="breadcrumbs">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> /
                <a asp-area="" asp-controller="Home" asp-action="Games">Games</a> /
                <a asp-area="Ethereal" asp-controller="Ethereal" asp-action="Index">Ethereal Legends</a> /
                <span class="color-1">Guide</span>
            </div>
        </div>
    </div>
</section>
<!-- PAGE NAME END -->
<!-- SECTION START -->
<section class="ptb150">
    <div class="container">
        <div class="row">
            <div class="full-col col-lg-10 col-md-10 col-md-push-1">
                <div class="posts-nav">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="/ethereal/guide/loot" class="nav_prev nav-btn td-none" style="background-image: url('/images/games/ethereal/loot-pre-header.jpg');">
                                <div class="nav_content">
                                    <div class="fsize-14 fweight-700 uppercase color-1">Ethereal Loot Table</div>
                                    <div class="nav-title font-agency fsize-24 fweight-700 color-white uppercase">Find out where all the best spells, weapons, and armor can be found!</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="/ethereal/guide/ansel" class="nav_next nav-btn td-none" style="background-image: url('/images/games/ethereal/ansel-pre-header.jpg');">
                                <div class="nav_content">
                                    <div class="fsize-14 fweight-700 uppercase color-1">Screenshots with Ansel</div>
                                    <div class="nav-title font-agency fsize-24 fweight-700 color-white uppercase">Learn how to take beautiful high quality screenshots with Nvidia Ansel.</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="post-content mt60">
                    <div class="post-image">
                        <img src="~/images/games/ethereal/guide-header.jpg" alt="">
                    </div>
                    <div class="post-bottom background-4">
                        <div class="p60">
                            <div class="table">
                                <div class="table-row">
                                    <div class="table-cell valign-top">
                                        <div class="fsize-14 fweight-700 uppercase color-1">
                                            Ethereal Game Guide
                                        </div>
                                    </div>
                                    <div class="table-cell valign-top text-right">
                                        <div class="fsize-14 fweight-700 uppercase">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt20">
                                <p>Welcome to the <i>Ethereal Legends</i> Game Guide!</p>
                                <p>Here on this site is where you'll find the information you’ll need to know to in order to make your experience playing Ethereal Legends the best it can possibly be. Use the main menu to navigate through the various topics; peruse update notes in the Version History, learn more about the game’s features and the options at your disposal, check out the game’s source code, or get involved in the community around Ethereal.</p>                                
                            </div>
                            <div class="post-quote mt120">
                                <blockquote class="p40 text-center">
                                    <div class="author-avatar">
                                        <img src="~/images/team/scott-mccutchen-author.jpg" alt="">
                                    </div>
                                    <div class="table mb0 pb30 mt40">
                                        <div class="table-row">
                                            <div class="table-cell valign-middle">
                                                <a href="post.html" class="post-title fsize-24 fweight-700 font-agency color-white uppercase">
                                                    Scott McCutchen
                                                </a>
                                                <div class="fsize-14 fweight-700 uppercase color-1">
                                                    Ethereal Creator
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-container fsize-18 italic ptb30">
                                        «Ethereal Legends is a game built by passion, and was brought into existence through sheer force of will and unrelenting persistence. It is the result of countless hours of tackling obstacles head on; a philosophy we use to guide all our actions here at Soverance Studios.
                                        <br />
                                        <br />
                                        In no other world than the one we live in today could this game have existed. With Unreal Engine, we’ve been able to stand on the shoulders of giants, allowing us to deliver our vision to you, unencumbered.
                                        <br />
                                        <br />
                                        I finally believe it: “The only limits are your own imagination…”
                                        <br />
                                        <br />
                                        I hope you’ll enjoy playing Ethereal Legends as much as I enjoyed making it.»
                                    </div>
                                </blockquote>
                            </div>
                            <div class="row mt60 wow fadeInLeft">
                                <div class="related-post">
                                    <div class="related-item col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <a href="/ethereal/guide/world" class="related-wrapper">
                                            <div class="related-img">
                                                <img src="~/images/games/ethereal/guide-world.jpg" alt="">
                                            </div>
                                            <div class="related-title">
                                                <div class="font-agency fsize-24 fweight-700 color-white uppercase">
                                                    World
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="related-item col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <a href="/ethereal/guide/systems" class="related-wrapper">
                                            <div class="related-img">
                                                <img src="~/images/games/ethereal/guide-systems.jpg" alt="">
                                            </div>
                                            <div class="related-title">
                                                <div class="font-agency fsize-24 fweight-700 color-white uppercase">
                                                    Systems
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="related-item col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <a href="/ethereal/guide/loot" class="related-wrapper">
                                            <div class="related-img">
                                                <img src="~/images/games/ethereal/guide-loot.jpg" alt="">
                                            </div>
                                            <div class="related-title">
                                                <div class="font-agency fsize-24 fweight-700 color-white uppercase">
                                                    Loot
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt60 wow fadeInLeft">
                                <div class="related-post">
                                    <div class="related-item col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <a href="/ethereal/guide/ansel" class="related-wrapper">
                                            <div class="related-img">
                                                <img src="~/images/games/ethereal/guide-ansel.jpg" alt="">
                                            </div>
                                            <div class="related-title">
                                                <div class="font-agency fsize-24 fweight-700 color-white uppercase">
                                                    Ansel
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="related-item col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <a href="/ethereal/versions" class="related-wrapper">
                                            <div class="related-img">
                                                <img src="~/images/games/ethereal/guide-versions.jpg" alt="">
                                            </div>
                                            <div class="related-title">
                                                <div class="font-agency fsize-24 fweight-700 color-white uppercase">
                                                    Versions
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="related-item col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <a href="/ethereal/eula" class="related-wrapper">
                                            <div class="related-img">
                                                <img src="~/images/games/ethereal/guide-eula.jpg" alt="">
                                            </div>
                                            <div class="related-title">
                                                <div class="font-agency fsize-24 fweight-700 color-white uppercase">
                                                    EULA
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-info-bl">
                            <div class="table">
                                <div class="table-cell valign-middle">
                                    <i class="fa fa-user color-6 fsize-14" aria-hidden="true"></i>
                                    <span class="color-2 fsize-14 ml5">by Scott</span>
                                </div>
                                <div class="table-cell valign-middle text-right">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SECTION END -->
