@{
    ViewData["Title"] = "Ethereal Legends";
}

<!-- PAGE NAME START -->
<section class="page-name parallax" data-paroller-factor="0.1" data-paroller-type="background" data-paroller-direction="vertical">
    <div class="container">
        <div class="row">
            <h1 class="page-title">
                Ethereal Legends
            </h1>
            <div class="breadcrumbs">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> /
                <a asp-area="" asp-controller="Home" asp-action="Games">Games</a> /
                <span class="color-1">Ethereal Legends</span>
            </div>
        </div>
    </div>
</section>
<!-- PAGE NAME END -->
<!-- SECTION START -->
<section class="ptb150">
    <div class="container">
        <div class="row">
            <div class="top-bl">
                <div class="game-img-slider bg-arrow">
                    <div class="image-wrapper">
                        <a href="~/images/single-game/game-img-1.jpg" data-lightbox="game-slides">
                            <img src="~/images/single-game/game-img-1.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/single-game/game-img-2.jpg" data-lightbox="game-slides">
                            <img src="~/images/single-game/game-img-2.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/single-game/game-img-3.jpg" data-lightbox="game-slides">
                            <img src="~/images/single-game/game-img-3.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/single-game/game-img-4.jpg" data-lightbox="game-slides">
                            <img src="~/images/single-game/game-img-4.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt80">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb30">
                <div class="tab-head table uppercase fsize-14 fweight-700">
                    <div class="table-cell valign-middle ws-20 color-1">
                        Epic High Fantasy
                    </div>
                    <div class="table-cell valign-middle text-right">
                        Released Feb 21, 2017
                    </div>
                </div>
                <div class="uppercase fsize-32 fweight-700 font-agency color-white lheight-normal">
                    Ethereal Legends
                </div>
                <div class="mt30 lheight-26 fweight-300">
                    <p>Pork chop pastrami meatball, picanha salami capicola drumstick tri-tip flank short loin strip steak prosciutto leberkas jowl fatback. Alcatra kielbasa sausage, turkey short ribs shank bresaola meatball jowl ball tip buffalo jowl venison fatback strip steak.</p>
                    <p>Burgdoggen ham hock flank, pig beef ribs doner cow spare ribs tongue landjaeger. Sirloin meatloaf.</p>
                </div>
                <div class="mt30">
                    <div class="rating text-left">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb30">
                <div class="default-tabs">
                    <div class="game-char">
                        <div id="progressline69" class="progress-line mb30">
                            <div class="progress-title">
                                Biltong corned beef tongue
                            </div>
                        </div>
                        <div id="progressline80" class="progress-line mb30">
                            <div class="progress-title">
                                Beef short ribs leberkas cupim Drumstick
                            </div>
                        </div>
                        <div id="progressline52" class="progress-line mb30">
                            <div class="progress-title">
                                Fatback bacon picanha leberkas pork
                            </div>
                        </div>
                        <div id="progressline90" class="progress-line mb30">
                            <div class="progress-title">
                                Burgdoggen bresaola shankle
                            </div>
                        </div>
                        <div id="progressline30" class="progress-line mb30">
                            <div class="progress-title">
                                Beef short ribs leberkas cupim Drumstick
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SECTION END -->
