@{
    ViewData["Title"] = "Ethereal Loot Table";
}

<!-- PAGE NAME START -->
<section class="page-name parallax" data-paroller-factor="0.1" data-paroller-type="background" data-paroller-direction="vertical">
    <div class="container">
        <div class="row">
            <h1 class="page-title">
                Ethereal Loot Table
            </h1>
            <div class="breadcrumbs">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> /
                <a asp-area="" asp-controller="Home" asp-action="Games">Games</a> /
                <a asp-area="Ethereal" asp-controller="Ethereal" asp-action="Index">Ethereal Legends</a> /
                <a asp-area="Ethereal" asp-controller="Ethereal" asp-action="Guide">Guide</a> /
                <span class="color-1">Loot Table</span>
            </div>
        </div>
    </div>
</section>
<!-- PAGE NAME END -->
<!-- SECTION START -->
<section class="ptb150">
    <div class="container">
        <div class="row">
            <div class="full-col col-lg-10 col-md-10 col-md-push-1">
                <div class="posts-nav">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="/ethereal/eula" class="nav_prev nav-btn td-none" style="background-image: url('/images/games/ethereal/eula-pre-header.jpg');">
                                <div class="nav_content">
                                    <div class="fsize-14 fweight-700 uppercase color-1">Ethereal Loot Table</div>
                                    <div class="nav-title font-agency fsize-24 fweight-700 color-white uppercase">Find out where all the best spells, weapons, and armor can be found!</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="/ethereal/guide/ansel" class="nav_next nav-btn td-none" style="background-image: url('/images/games/ethereal/ansel-pre-header.jpg');">
                                <div class="nav_content">
                                    <div class="fsize-14 fweight-700 uppercase color-1">Screenshots with Ansel</div>
                                    <div class="nav-title font-agency fsize-24 fweight-700 color-white uppercase">Learn how to take beautiful high quality screenshots with Nvidia Ansel.</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="post-content mt60">
                    <div class="post-image">
                        <img src="~/images/games/ethereal/loot-header.jpg" alt="">
                    </div>
                    <div class="post-bottom background-4">
                        <div class="p60">
                            <div class="table">
                                <div class="table-row">
                                    <div class="table-cell valign-top">
                                        <div class="fsize-14 fweight-700 uppercase color-1">
                                            Enemy Loot Table
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt20">
                                <iframe width="840" height="660" frameborder="0" scrolling="no" src="https://soverance.sharepoint.com/:x:/g/EbVxNFBsM_FNoo6ILg-Ys7gB8JL24gY09cOdMozBrd-F7g?e=hCfu3X&action=embedview&ActiveCell='Enemy%20Loot'!A1&Item='Enemy%20Loot'!A1%3AF45&wdInConfigurator=True"></iframe>
                            </div>
                            <hr />
                            <img class="img-responsive mlr-auto mb20" src="~/images/games/ethereal/SignetGear.jpg" alt="" width="506" height="145" />
                            <div class="table">
                                <div class="table-row">
                                    <div class="table-cell valign-top">
                                        <div class="fsize-14 fweight-700 uppercase color-1">
                                            Item List
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="mt60">
                                <iframe width="840" height="660" frameborder="0" scrolling="no" src="https://soverance.sharepoint.com/:x:/g/EbVxNFBsM_FNoo6ILg-Ys7gB8JL24gY09cOdMozBrd-F7g?e=hCfu3X&action=embedview&ActiveCell='Inventory'!A1&Item='Inventory'!A1%3AO118&wdInConfigurator=True"></iframe>
                            </p>
                        </div>
                        <div class="bottom-info-bl">
                            <div class="table">
                                <div class="table-cell valign-middle">
                                    <i class="fa fa-user color-6 fsize-14" aria-hidden="true"></i>
                                    <span class="color-2 fsize-14 ml5">by Scott</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <partial name="_GamePreviewInsert" />
            </div>
        </div>
    </div>
</section>
<!-- SECTION END -->
