@{
    ViewData["Title"] = "Ethereal Loot Table";
}

<!-- PAGE NAME START -->
<section class="page-name parallax" data-paroller-factor="0.1" data-paroller-type="background" data-paroller-direction="vertical">
    <div class="container">
        <div class="row">
            <h1 class="page-title">
                Ethereal Loot Table
            </h1>
            <div class="breadcrumbs">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> /
                <a asp-area="" asp-controller="Home" asp-action="Games">Games</a> /
                <a asp-area="Ethereal" asp-controller="Ethereal" asp-action="Index">Ethereal Legends</a> /
                <a asp-area="Ethereal" asp-controller="Ethereal" asp-action="Guide">Guide</a> /
                <span class="color-1">Loot Table</span>
            </div>
        </div>
    </div>
</section>
<!-- PAGE NAME END -->
<!-- SECTION START -->
<section class="ptb150">
    <div class="container">
        <div class="row">
            <div class="full-col col-lg-10 col-md-10 col-md-push-1">
                <div class="posts-nav">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="/ethereal/eula" class="nav_prev nav-btn td-none" style="background-image: url('/images/games/ethereal/eula-pre-header.jpg');">
                                <div class="nav_content">
                                    <div class="fsize-14 fweight-700 uppercase color-1">Ethereal Loot Table</div>
                                    <div class="nav-title font-agency fsize-24 fweight-700 color-white uppercase">Find out where all the best spells, weapons, and armor can be found!</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="/ethereal/guide/ansel" class="nav_next nav-btn td-none" style="background-image: url('/images/games/ethereal/ansel-pre-header.jpg');">
                                <div class="nav_content">
                                    <div class="fsize-14 fweight-700 uppercase color-1">Screenshots with Ansel</div>
                                    <div class="nav-title font-agency fsize-24 fweight-700 color-white uppercase">Learn how to take beautiful high quality screenshots with Nvidia Ansel.</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="post-content mt60">
                    <div class="post-image">
                        <img src="~/images/games/ethereal/loot-header.jpg" alt="">
                    </div>
                    <div class="post-bottom background-4">
                        <div class="p60">
                            <div class="table">
                                <div class="table-row">
                                    <div class="table-cell valign-top">
                                        <div class="fsize-14 fweight-700 uppercase color-1">
                                            Ethereal Game Guide
                                        </div>
                                    </div>
                                    <div class="table-cell valign-top text-right">
                                        <div class="fsize-14 fweight-700 uppercase">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt20">
                                <p>Welcome to the <i>Ethereal Legends</i> Game Guide!</p>
                                <p>Here on this site is where you'll find the information you’ll need to know to in order to make your experience playing Ethereal Legends the best it can possibly be. Use the main menu to navigate through the various topics; peruse update notes in the Version History, learn more about the game’s features and the options at your disposal, check out the game’s source code, or get involved in the community around Ethereal.</p>                                
                            </div>
                            <div class="post-quote mt120">
                                <blockquote class="p40 text-center">
                                    <div class="author-avatar">
                                        <img src="~/images/team/scott-mccutchen-author.jpg" alt="">
                                    </div>
                                    <div class="table mb0 pb30 mt40">
                                        <div class="table-row">
                                            <div class="table-cell valign-middle">
                                                <a href="post.html" class="post-title fsize-24 fweight-700 font-agency color-white uppercase">
                                                    Scott McCutchen
                                                </a>
                                                <div class="fsize-14 fweight-700 uppercase color-1">
                                                    Ethereal Designer
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-container fsize-18 italic ptb30">
                                        «Ethereal Legends is a game built by passion, and was brought into existence through sheer force of will and unrelenting persistence. It is the result of countless hours of tackling obstacles head on; a philosophy we use to guide all our actions here at Soverance Studios.
                                        <br />
                                        <br />
                                        In no other world than the one we live in today could this game have existed. With Unreal Engine, we’ve been able to stand on the shoulders of giants, allowing us to deliver our vision to you, unencumbered.
                                        <br />
                                        <br />
                                        I finally believe it: “The only limits are your own imagination…”
                                        <br />
                                        <br />
                                        I hope you’ll enjoy playing Ethereal Legends as much as I enjoyed making it.»
                                    </div>
                                </blockquote>
                            </div>
                            <p class="mt60">
                                Brisket ham hock chuck cupim andouille beef ribs turducken pork belly. Picanha filet mignon tenderloin venison sirloin biltong. Picanha jerky venison chuck, filet mignon sirloin t-bone rump short loin salami pork loin tenderloin corned beef swine ground round. Ball tip rump prosciutto ham. Sirloin venison jowl brisket shank andouille.
                            </p>
                            <div class="clearfix">
                                <p class="col-lg-4 col-md-4 col-sm-12 col-sm-12 m0">
                                    <img src="~/images/post/post-small-1.jpg" alt="" class="img-responsive mlr-auto mb20">
                                </p>
                                <p class="col-lg-4 col-md-4 col-sm-12 col-sm-12 m0">
                                    <img src="~/images/post/post-small-2.jpg" alt="" class="img-responsive mlr-auto mb20">
                                </p>
                                <p class="col-lg-4 col-md-4 col-sm-12 col-sm-12 m0">
                                    <img src="~/images/post/post-small-3.jpg" alt="" class="img-responsive mlr-auto mb20">
                                </p>
                            </div>
                            <p class="mt30">
                                Andouille frankfurter hamburger, swine leberkas tenderloin cupim. Ground round ball tip pastrami, turducken chicken porchetta fatback frankfurter. Pig kielbasa jowl strip.
                            </p>
                            <p>
                                Steak sausage pork loin bacon tri-tip meatball shoulder cupim beef pork chop kevin boudin. Short loin pig meatball ham landjaeger pastrami. Drumstick ham hock chuck pork belly chicken prosciutto biltong salami ham pancetta.
                            </p>
                            <ul class="list-1">
                                <li class="color5">
                                    Buffalo drumstick doner short;
                                </li>
                                <li class="color5">
                                    Loin pork chop strip steak ground round;
                                </li>
                                <li class="color5">
                                    Short ribs kevin tri-tip burgdoggen.
                                </li>
                            </ul>
                        </div>
                        <div class="bottom-info-bl">
                            <div class="table">
                                <div class="table-cell valign-middle">
                                    <i class="fa fa-user color-6 fsize-14" aria-hidden="true"></i>
                                    <span class="color-2 fsize-14 ml5">by Admin</span>
                                </div>
                                <div class="table-cell valign-middle text-right">
                                    <i class="fa fa-comment color-6 fsize-14" aria-hidden="true"></i>
                                    <span class="color-2 fsize-14 ml5">452</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <partial name="_GamePreviewInsert" />
            </div>
        </div>
    </div>
</section>
<!-- SECTION END -->
