@{
    ViewData["Title"] = "Ethereal Milestone Version History";
}

<!-- PAGE NAME START -->
<section class="page-name parallax" data-paroller-factor="0.1" data-paroller-type="background" data-paroller-direction="vertical">
    <div class="container">
        <div class="row">
            <h1 class="page-title">
                Ethereal Milestone Version History
            </h1>
            <div class="breadcrumbs">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> /
                <a asp-area="" asp-controller="Home" asp-action="Games">Games</a> /
                <a asp-area="Ethereal" asp-controller="Ethereal" asp-action="Index">Ethereal Legends</a> /
                <a asp-area="Ethereal" asp-controller="Ethereal" asp-action="Guide">Guide</a> /
                <span class="color-1">Milestone Version History</span>
            </div>
        </div>
    </div>
</section>
<!-- PAGE NAME END -->
<!-- SECTION START -->
<section class="ptb150">
    <div class="container">
        <div class="row">
            <div class="full-col col-lg-10 col-md-10 col-md-push-1">
                <div class="posts-nav">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="/ethereal/eula" class="nav_prev nav-btn td-none" style="background-image: url('/images/games/ethereal/eula-pre-header.jpg');">
                                <div class="nav_content">
                                    <div class="fsize-14 fweight-700 uppercase color-1">Ethereal Loot Table</div>
                                    <div class="nav-title font-agency fsize-24 fweight-700 color-white uppercase">Find out where all the best spells, weapons, and armor can be found!</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="/ethereal/guide/ansel" class="nav_next nav-btn td-none" style="background-image: url('/images/games/ethereal/ansel-pre-header.jpg');">
                                <div class="nav_content">
                                    <div class="fsize-14 fweight-700 uppercase color-1">Screenshots with Ansel</div>
                                    <div class="nav-title font-agency fsize-24 fweight-700 color-white uppercase">Learn how to take beautiful high quality screenshots with Nvidia Ansel.</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="post-content mt60">
                    <div class="post-image">
                        <img src="~/images/games/ethereal/versions-header.jpg" alt="">
                    </div>
                    <div class="post-bottom background-4">
                        <div class="p60">
                            <div class="table">
                                <div class="table-row">
                                    <div class="table-cell valign-top">
                                        <div class="fsize-14 fweight-700 uppercase color-1">
                                            Ethereal Legends Milestone Version History
                                        </div>
                                    </div>
                                    <div class="table-cell valign-top text-right">
                                        <div class="fsize-14 fweight-700 uppercase">
                                            Latest Version :    1.3
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <p>Major project milestone dates and versions are listed here.</p>
                            <p>For a full version history, complete with update notes, <a href="https://soverance.sharepoint.com/:w:/g/EQngmza2gbxEibCV-egTqiwBCwmHBCBWve9yZgdl-GLw8Q?e=Fs1O5J">please see this document</a>.</p>                            
                            <ul>
                                <li>02/21/2017 - <b>Version 1.0</b>  -  Steam Release</li>
                                <li>08/27/2016 - <b>Version 0.8  (Beta)</b>  -  First beta test, Open Source C++</li>
                                <li>01/01/2016 - <b>Version 0.6  (Alpha)</b>  -  First alpha test</li>
                                <li>09/15/2015 - <b>Version 0.2  (Pre-Alpha)</b>  -  Oculus Share / Square Enix Collective Campaign</li>
                                <li>08/11/2015 - <b>Version 0.1  (Pre-Alpha)</b>  -  Steam Greenlight</li>
                                <li>11/23/2014 - <b>Project Ethereal</b>  (UE4 Prototype)</li>
                                <li>06/25/2013 - <a href="/blog/post/project-aegis"><b>Project Aegis</b></a>  (UDK Prototype)</li>
                            </ul>
                        </div>
                        <div class="bottom-info-bl">
                            <div class="table">
                                <div class="table-cell valign-middle">
                                    <i class="fa fa-user color-6 fsize-14" aria-hidden="true"></i>
                                    <span class="color-2 fsize-14 ml5">by Scott</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <partial name="_GamePreviewInsert" />
            </div>
        </div>
    </div>
</section>
<!-- SECTION END -->
