@{
    ViewData["Title"] = "2009 Honda CBR600RA";
}

<!-- PAGE NAME START -->
<section class="page-name parallax" data-paroller-factor="0.1" data-paroller-type="background" data-paroller-direction="vertical">
    <div class="container">
        <div class="row">
            <h1 class="page-title">
                2009 Honda CBR600RA
            </h1>
            <div class="breadcrumbs">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> /
                <a href="#">Studio</a> /
                <a asp-area="Team" asp-controller="Team" asp-action="Index">Team</a> /
                <span class="color-1">CBR600RA</span>
            </div>
        </div>
    </div>
</section>
<!-- PAGE NAME END -->
<!-- SINGLE TEAM START -->
<section class="single-team ptb150">
    <div class="container">
        <div class="row">
            <div class="item-content hover-offset first col-lg-5 col-md-5 col-sm-12 col-xs-12 mb30">
                <div class="border-img radius-offset">
                    <img src="~/images/team/cbr600ra-profile.jpg" alt="" class="img-responsive">
                </div>
                <div class="text-container radius-offset background-4 text-center">
                    <div class="font-agency fsize-32 fweight-700 lheight-32 color-white">
                        Honda CBR600RA
                    </div>
                    <div class="position mt10">
                        Scott's Motorcycle
                    </div>
                    <div class="social-content gradient mt20">
                        <div class="social-list">
                            <a href="https://www.facebook.com/soverance">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="social-list">
                            <a href="https://twitter.com/soverance">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="social-list">
                            <a href="https://github.com/soverance">
                                <i class="fa fa-github" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="social-list">
                            <a href="https://www.linkedin.com/in/soverance/">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="social-list">
                            <a href="https://www.youtube.com/user/soverancestudios">
                                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">                
                <div class="mt50">
                    <div class="tabs info-tabs default-tabs text-center mt60">
                        <div class="tabs-nav">
                            <ul class="list-inline nav nav-tabs fsize-0">
                                <li class="active">
                                    <a href="#biography" data-toggle="tab" class="fsize-14 fweight-700 uppercase" aria-expanded="true">
                                        Information
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#techspecs" data-toggle="tab" class="fsize-14 fweight-700 uppercase" aria-expanded="false">
                                        Tech Specs
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#customparts" data-toggle="tab" class="fsize-14 fweight-700 uppercase" aria-expanded="false">
                                        Custom Parts
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content relative">
                            <div class="tab-pane fade text-left clearfix active in" id="biography">
                                <div class="main-text p60">
                                    <h5 class="fsize-32 fweight-700 font-agency uppercase">CBR600RR History:</h5>
                                    <p class="lheight-30 mt20">
                                        The Honda CBR600RR is a 599 cc (36.6 cu in) sport bike, part of the CBR series that was introduced by Honda in 2003 as a race replica version of Honda's CBR600F series.
                                        It won every Supersport World Championship title from 2002 to 2008, and again in 2010 and 2014.
                                    </p>
                                    <h5 class="fsize-32 fweight-700 font-agency uppercase">2009 CBR600RA:</h5>
                                    <p class="lheight-30 mt20">
                                        The 2009 CBR600RA is special among CBR models, in that it was the first production model to come with Honda's Combined ABS system, which integrated combined braking, anti-lock braking, and brake-by-wire systems.
                                        Other changes in 2009 included updates to the engine such as changes to its pistons, cylinder head and exhaust that Honda claims will increase torque delivery between 8,000–12,000 rpm with a 3.5% increase in torque at 10,000 rpm.
                                        The CBR600RR’s engine also received a new high resistance valve lifter and a popup valve system inherited from the CBR1000RR.
                                    </p>
                                    <p>
                                        As a performance enthusiast and mechanic, I've heavily modified this 2009 CBR600RA, turning it into a unique custom machine.
                                        The joy of the ride has fueled a passion for peformance, and this bike has power abundant.  The cathartic, methodic process of working on and upgrading the machine,
                                        combined with the exhilaration and adrenaline provided once the rubber hits the pavement - it's the sort of thing only a motorcycle can provide.
                                        The relationship between man and machine is a special one, and nothing embodies that sentiment quite like a motorcycle.
                                    </p>
                                    <p>
                                        I purchased this bike in August 2017 from WoW Motorcycles, for about $6,500.  It was the OEM red/black color and had about 13,000 miles on it.  Since then,
                                        the bike and I have had a lot of great adventures together, and it's ownership has provided me with immeasurable joy (<i>and like most relationships, maybe a bit of frustration and pain, too</i>).
                                    </p>

                                    <div class="clearfix">
                                        <p class="col-lg-4 col-md-4 col-sm-12 col-sm-12 m0">
                                            <a href="/images/team/CBR600RA/day1.jpg" data-lightbox="game-slides">
                                                <img src="/images/team/CBR600RA/day1.jpg" alt="" class="img-responsive mlr-auto mb20">
                                            </a>
                                        </p>
                                        <p class="col-lg-4 col-md-4 col-sm-12 col-sm-12 m0">
                                            <a href="/images/team/CBR600RA/railroad.jpg" data-lightbox="game-slides">
                                                <img src="/images/team/CBR600RA/railroad.jpg" alt="" class="img-responsive mlr-auto mb20">
                                            </a>
                                        </p>
                                        <p class="col-lg-4 col-md-4 col-sm-12 col-sm-12 m0">
                                            <a href="/images/team/CBR600RA/wolfpengap.jpg" data-lightbox="game-slides">
                                                <img src="/images/team/CBR600RA/wolfpengap.jpg" alt="" class="img-responsive mlr-auto mb20">
                                            </a>
                                        </p>
                                        <p class="col-lg-4 col-md-4 col-sm-12 col-sm-12 m0">
                                            <a href="/images/team/CBR600RA/autumn.jpg" data-lightbox="game-slides">
                                                <img src="/images/team/CBR600RA/autumn.jpg" alt="" class="img-responsive mlr-auto mb20">
                                            </a>
                                        </p>
                                        <p class="col-lg-4 col-md-4 col-sm-12 col-sm-12 m0">
                                            <a href="/images/team/CBR600RA/buckhead.jpg" data-lightbox="game-slides">
                                                <img src="/images/team/CBR600RA/buckhead.jpg" alt="" class="img-responsive mlr-auto mb20">
                                            </a>
                                        </p>
                                        <p class="col-lg-4 col-md-4 col-sm-12 col-sm-12 m0">
                                            <a href="/images/team/CBR600RA/hankaaron.jpg" data-lightbox="game-slides">
                                                <img src="/images/team/CBR600RA/hankaaron.jpg" alt="" class="img-responsive mlr-auto mb20">
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane techspecs fade text-left clearfix" id="techspecs">
                                <div class="main-text p60">
                                    <div class="techspecs-bl">
                                        <div id="progressline0" class="progress-line mb30">
                                            <div class="progress-title">
                                                Model ID:  CBR600RA
                                            </div>
                                        </div>
                                        <div id="progressline0" class="progress-line mb30">
                                            <div class="progress-title">
                                                Engine Type:  599 cc liquid-cooled inline four-cylinder
                                            </div>
                                        </div>
                                        <div id="progressline0" class="progress-line mb30">
                                            <div class="progress-title">
                                                Compression Ratio:  12.2:1
                                            </div>
                                        </div>
                                        <div id="progressline0" class="progress-line mb30">
                                            <div class="progress-title">
                                                Power:  Rear Wheel = 100.6 hp at 12,500 rpm
                                            </div>
                                        </div>
                                        <div id="progressline0" class="progress-line mb30">
                                            <div class="progress-title">
                                                Torque:  Rear Wheel = 44.8 lb⋅ft at 10,600 rpm
                                            </div>
                                        </div>
                                        <div id="progressline0" class="progress-line mb30">
                                            <div class="progress-title">
                                                Transmission:  Close-ratio six-speed
                                            </div>
                                        </div>
                                        <div id="progressline0" class="progress-line mb30">
                                            <div class="progress-title">
                                                Brakes:  Honda electronic Combined ABS
                                            </div>
                                        </div>
                                        <div id="progressline0" class="progress-line mb30">
                                            <div class="progress-title">
                                                Weight:  183 kg (403 lb)
                                            </div>
                                        </div>
                                        <div id="progressline0" class="progress-line mb30">
                                            <div class="progress-title">
                                                0 - 60 in 2.9 seconds
                                            </div>
                                        </div>
                                        <div id="progressline0" class="progress-line mb30">
                                            <div class="progress-title">
                                                1/4 Mile 10.8 seconds at 128.8 mph
                                            </div>
                                        </div>
                                        <div id="progressline0" class="progress-line mb30">
                                            <div class="progress-title">
                                                158 mph top speed
                                            </div>
                                        </div>
                                        <div id="progressline0" class="progress-line mb30">
                                            <div class="progress-title">
                                                34 mpg fuel economy 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane customparts fade text-left clearfix" id="customparts">
                                <div class="main-text p60">
                                    <div class="customparts-bl">
                                        <div id="progressline0" class="progress-line mb30">
                                            <div class="progress-title">
                                                Paint - Electron Blue Pearl (Honda OEM B95P)
                                            </div>
                                        </div>
                                        <div id="progressline0" class="progress-line mb30">
                                            <div class="progress-title">
                                                Gorilla 8007 Alarm
                                            </div>
                                        </div>
                                        <div id="progressline0" class="progress-line mb30">
                                            <div class="progress-title">
                                                Flush-mount turn signals + custom rear fender
                                            </div>
                                        </div>
                                        <div id="progressline0" class="progress-line mb30">
                                            <div class="progress-title">
                                                APE Manual Cam Chain Tensioner
                                            </div>
                                        </div>
                                        <div id="progressline0" class="progress-line mb30">
                                            <div class="progress-title">
                                                Ride-It Control Levers
                                            </div>
                                        </div>
                                        <div id="progressline0" class="progress-line mb30">
                                            <div class="progress-title">
                                                Corbin custom saddle
                                            </div>
                                        </div>
                                        <div id="progressline0" class="progress-line mb30">
                                            <div class="progress-title">
                                                ProGrip 719 Suberbike Grips
                                            </div>
                                        </div>
                                        <div id="progressline0" class="progress-line mb30">
                                            <div class="progress-title">
                                                Puig Z Racing Windscreen
                                            </div>
                                        </div>
                                        <div id="progressline0" class="progress-line mb30">
                                            <div class="progress-title">
                                                Driven Racing Halo Fuel Cap + Base
                                            </div>
                                        </div>
                                        <div id="progressline0" class="progress-line mb30">
                                            <div class="progress-title">
                                                Driven Racing D-Axis Rear Spools
                                            </div>
                                        </div>
                                        <div id="progressline0" class="progress-line mb30">
                                            <div class="progress-title">
                                                TriPage Red LED Gauge Cluster mod with Gear Indicator
                                            </div>
                                        </div>
                                        <div id="progressline0" class="progress-line mb30">
                                            <div class="progress-title">
                                                TriPage Dual High/Low LED Headlights
                                            </div>
                                        </div>
                                        <div id="progressline0" class="progress-line mb30">
                                            <div class="progress-title">
                                                Pirelli Diablo Rosso III Tires
                                            </div>
                                        </div>
                                        <div id="progressline0" class="progress-line mb30">
                                            <div class="progress-title">
                                                EBC Sintered Double H Brake Pads
                                            </div>
                                        </div>
                                        <div id="progressline0" class="progress-line mb30">
                                            <div class="progress-title">
                                                YanaShiki Swing Arm Tail Mount Bracket
                                            </div>
                                        </div>
                                        <div id="progressline0" class="progress-line mb30">
                                            <div class="progress-title">
                                                Driven Racing Front/Rear Sprockets
                                            </div>
                                        </div>
                                        <div id="progressline0" class="progress-line mb30">
                                            <div class="progress-title">
                                                Akrapovic Racing Full Exhaust
                                            </div>
                                        </div>
                                        <div id="progressline0" class="progress-line mb30">
                                            <div class="progress-title">
                                                HEL Performance Stainless Steel Brake Lines
                                            </div>
                                        </div>
                                        <div id="progressline0" class="progress-line mb30">
                                            <div class="progress-title">
                                                Dynojet PowerCommander V
                                            </div>
                                        </div>
                                        <div id="progressline0" class="progress-line mb30">
                                            <div class="progress-title">
                                                TriPage STD Taillight with built-in turn signals
                                            </div>
                                        </div>
                                        <div id="progressline0" class="progress-line mb30">
                                            <div class="progress-title">
                                                Woodcraft Servo Buddy
                                            </div>
                                        </div>
                                        <div id="progressline0" class="progress-line mb30">
                                            <div class="progress-title">
                                                Driven Racing PAIR system block off plates
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SINGLE TEAM END -->
