@{
    ViewData["Title"] = "Team";
}

<!-- PAGE NAME START -->
<section class="page-name parallax" data-paroller-factor="0.1" data-paroller-type="background" data-paroller-direction="vertical">
    <div class="container">
        <div class="row">
            <h1 class="page-title">
                Team
            </h1>
            <div class="breadcrumbs">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> /
                <a href="#">Studio</a> /
                <span class="color-1">Team</span>
            </div>
        </div>
    </div>
</section>
<!-- PAGE NAME END -->
<!-- TEAM START -->
<section class="team-bl ptb150">
    <div class="container">
        <div class="row">
            <div class="container-wrapper">
                <div class="item-content first col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30 equal-height wow fadeInUp" data-wow-duration="1s">
                    <div class="border-img">
                        <img src="~/images/team/scott-mccutchen-beard.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="text-container background-4 text-center">
                        <a href="/team/scott-mccutchen" class="name font-agency fsize-32 fweight-700 lheight-32 color-white">
                            Scott McCutchen
                        </a>
                        <div class="position mt10">
                            Founder
                        </div>
                        <div class="social mt20">
                            <a href="https://facebook.com/soverance">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="https://twitter.com/soverance">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="https://github.com/soverance">
                                <i class="fa fa-github" aria-hidden="true"></i>
                            </a>
                            <a href="https://linkedin.com/in/soverance/">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="https://youtube.com/user/soverancestudios">
                                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item-content second col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30 equal-height wow fadeInUp" data-wow-duration="1s">
                    <div class="border-img">
                        <img src="~/images/team/cbr600ra-profile.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="text-container background-4 text-center">
                        <a href="/team/CBR600RA" class="name font-agency fsize-32 fweight-700 lheight-32 color-white">
                            Honda CBR600RA
                        </a>
                        <div class="position mt10">
                            Scott's Motorcycle
                        </div>
                        <div class="social mt20">
                            <a href="#">
                                <i class="fa fa-motorcycle" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item-content third col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30 equal-height wow fadeInUp" data-wow-duration="1s">
                    <div class="border-img">
                        <img src="~/images/team/Person-Silhouette.png" alt="" class="img-responsive">
                    </div>
                    <div class="text-container background-4 text-center">
                        <a href="#" class="name font-agency fsize-32 fweight-700 lheight-32 color-white">
                            This could be you!
                        </a>
                        <div class="position mt10">
                            Game Developer
                        </div>
                        <div class="social mt20">
                            <a href="#">
                                <i class="fa fa-gamepad" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- TEAM END -->
