@{
    ViewData["Title"] = "Scott McCutchen";
}

<!-- PAGE NAME START -->
<section class="page-name parallax" data-paroller-factor="0.1" data-paroller-type="background" data-paroller-direction="vertical">
    <div class="container">
        <div class="row">
            <h1 class="page-title">
                Scott McCutchen
            </h1>
            <div class="breadcrumbs">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> /
                <a href="#">Studio</a> /
                <a asp-area="Team" asp-controller="Team" asp-action="Index">Team</a> /
                <span class="color-1">Scott McCutchen</span>
            </div>
        </div>
    </div>
</section>
<!-- PAGE NAME END -->
<!-- SINGLE TEAM START -->
<section class="single-team ptb150">
    <div class="container">
        <div class="row">
            <div class="item-content hover-offset first col-lg-5 col-md-5 col-sm-12 col-xs-12 mb30">
                <div class="border-img radius-offset">
                    <img src="~/images/team/profile-scott-mccutchen.jpg" alt="" class="img-responsive">
                </div>
                <div class="text-container radius-offset background-4 text-center">
                    <div class="font-agency fsize-32 fweight-700 lheight-32 color-white">
                        Scott McCutchen
                    </div>
                    <div class="position mt10">
                        Founder
                    </div>
                    <div class="social-content gradient mt20">
                        <div class="social-list">
                            <a href="https://www.facebook.com/soverance">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="social-list">
                            <a href="https://twitter.com/soverance">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="social-list">
                            <a href="https://github.com/soverance">
                                <i class="fa fa-github" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="social-list">
                            <a href="https://www.linkedin.com/in/soverance/">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="social-list">
                            <a href="https://www.youtube.com/user/soverancestudios">
                                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">                
                <div class="mt50">
                    <div class="tabs info-tabs default-tabs text-center mt60">
                        <div class="tabs-nav">
                            <ul class="list-inline nav nav-tabs fsize-0">
                                <li class="active">
                                    <a href="#biography" data-toggle="tab" class="fsize-14 fweight-700 uppercase" aria-expanded="true">
                                        Biography
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#techskills" data-toggle="tab" class="fsize-14 fweight-700 uppercase" aria-expanded="false">
                                        Tech Skills
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#designskills" data-toggle="tab" class="fsize-14 fweight-700 uppercase" aria-expanded="false">
                                        Design Skills
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content relative">
                            <div class="tab-pane fade text-left clearfix active in" id="biography">
                                <div class="main-text p60">
                                    <h5 class="fsize-32 fweight-700 font-agency uppercase">Biography:</h5>
                                    <p class="lheight-30 mt20">
                                        My name is Scott McCutchen, and I&#39;m a motorcycle rider and tech enthusiast who can do a lot of fancy things with computers.
                                        I&#39;m passionate about technology, and have always been good at figuring out how systems work.  I love to build engines as much as I love to build
                                        applications, and one day I'd love to bring the two together!  In my spare time, I enjoy camping, live music, and canyon-carving on my motorcycle.
                                    </p>
                                    <h5 class="fsize-32 fweight-700 font-agency uppercase">Professional Life:</h5>
                                    <p class="lheight-30 mt20">
                                        I have spent nearly twenty years cultivating the skills necessary to be a master of small business devops in Microsoft environments.
                                        Much of my professional career has been spent building startups and helping small businesses succeed through Microsoft technology.
                                        I started my first business in 2002 - a skatepark built inside an old marble factory - and I&#39;ve been building companies ever since.
                                    </p>
                                    <p class="lheight-30 mt20">
                                        Today I am a consultant for the Microsoft Azure platform, and I can help your company design and deploy a hybrid cloud computer network optimized for small business.
                                        With my experience as a Microsoft Silver Partner for the Azure Cloud Platform, together we'll build world-class cloud-first solutions that integrate with your existing on-prem infrastructure. <a href="/consulting">Check out all of my available services.</a>
                                        I am passionate about computer programming, and I love using my skills to help businesses solve problems through process automation and custom applications.
                                    </p>
                                    <p class="lheight-30 mt20">
                                        As a fun way to keep my skills on the cutting edge, I use Unreal Engine technology to bring my ideas to life as innovative gaming experiences for platforms such as Steam, PlayStation, XBox, and Oculus VR.
                                        My first major game, an action RPG titled Ethereal Legends, was released on Steam in 2017.  
                                        I am actively working on my next title, so stay tuned for more information on that in the near future!
                                    </p>                                    
                                    <p class="lheight-30 mt20">
                                        Thanks for taking the time to check out my work!
                                    </p>
                                </div>
                                <div class="mt60">
                                    <div class="position mt10">
                                        <h5 class="fsize-32 fweight-700 font-agency uppercase">Resume</h5>
                                    </div>
                                    <a href="https://soverance-my.sharepoint.com/:w:/p/scott_mccutchen/EXiQv0h-C6FPpmyfBW82gfgBK_E30pdip4c3OfcO29Dsmg?e=uNnvtq" class="fsize-14 fweight-700 uppercase">
                                        Scott McCutchen Resume - Word Online
                                    </a>
                                </div>
                                <div class="mt60">
                                    <div class="position mt10">
                                        <h5 class="fsize-32 fweight-700 font-agency uppercase">Fun Facts About Me</h5>
                                    </div>
                                    <ul class="list-1 color5">
                                        <li class="color5">The first time I flew in an airplane, I jumped out of it! (<i>Skydiving</i>)</li>
                                        <li class="color5">I was a high-ranking HNM hunter in the game Final Fantasy XI for many years.</li>
                                        <li class="color5">I once owned a nitrous-powered Honda Prelude.</li>
                                        <li class="color5">My favorite TV show is <i>The Venture Bros.</i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane techskills fade text-left clearfix" id="techskills">
                                <div class="main-text p60">
                                    <div class="techskills-bl">
                                        <div id="progressline1" class="progress-line mb30">
                                            <div class="progress-title">
                                                Unreal Engine 4
                                            </div>
                                        </div>
                                        <div id="progressline2" class="progress-line mb30">
                                            <div class="progress-title">
                                                Microsoft Azure
                                            </div>
                                        </div>
                                        <div id="progressline3" class="progress-line mb30">
                                            <div class="progress-title">
                                                Windows Server
                                            </div>
                                        </div>
                                        <div id="progressline4" class="progress-line mb30">
                                            <div class="progress-title">
                                                Active Directory / Group Policy
                                            </div>
                                        </div>
                                        <div id="progressline5" class="progress-line mb30">
                                            <div class="progress-title">
                                                PowerShell Automation
                                            </div>
                                        </div>
                                        <div id="progressline6" class="progress-line mb30">
                                            <div class="progress-title">
                                                C++ / C# Application Development
                                            </div>
                                        </div>
                                        <div id="progressline7" class="progress-line mb30">
                                            <div class="progress-title">
                                                ASP.NET Core
                                            </div>
                                        </div>
                                        <div id="progressline8" class="progress-line mb30">
                                            <div class="progress-title">
                                                Office 365 / GSuite
                                            </div>
                                        </div>
                                        <div id="progressline9" class="progress-line mb30">
                                            <div class="progress-title">
                                                Network and Infrastructure Design
                                            </div>
                                        </div>
                                        <div id="progressline10" class="progress-line mb30">
                                            <div class="progress-title">
                                                Security, VPN, and Certificates
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane designskills fade text-left clearfix" id="designskills">
                                <div class="main-text p60">
                                    <div class="designskills-bl">
                                        <div id="progressline11" class="progress-line mb30">
                                            <div class="progress-title">
                                                Unreal Engine 4
                                            </div>
                                        </div>
                                        <div id="progressline12" class="progress-line mb30">
                                            <div class="progress-title">
                                                Game Design
                                            </div>
                                        </div>
                                        <div id="progressline13" class="progress-line mb30">
                                            <div class="progress-title">
                                                Gameplay Programming
                                            </div>
                                        </div>
                                        <div id="progressline14" class="progress-line mb30">
                                            <div class="progress-title">
                                                Systems Design
                                            </div>
                                        </div>
                                        <div id="progressline15" class="progress-line mb30">
                                            <div class="progress-title">
                                                Level Design
                                            </div>
                                        </div>
                                        <div id="progressline16" class="progress-line mb30">
                                            <div class="progress-title">
                                                UI / UX Design
                                            </div>
                                        </div>
                                        <div id="progressline17" class="progress-line mb30">
                                            <div class="progress-title">
                                                A.I. Pathfinding and Collision
                                            </div>
                                        </div>
                                        <div id="progressline18" class="progress-line mb30">
                                            <div class="progress-title">
                                                Effects, Particles, and Materials
                                            </div>
                                        </div>
                                        <div id="progressline19" class="progress-line mb30">
                                            <div class="progress-title">
                                                Sound Design
                                            </div>
                                        </div>
                                        <div id="progressline20" class="progress-line mb30">
                                            <div class="progress-title">
                                                3D Modeling, Rigging, and Animation
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SINGLE TEAM END -->
